{% include '_partials/basket_overlay_content.twig' %}
<script type="text/javascript">
    (function ($, api) {
        var root = $('#i-4-intec-universe-sale-basket-small-template-2-gnX3eXc-Vj5u');
        var switches = $('[data-role="switches"]', root);
        var products = $('[data-role="product"]', root);
        var buttons = $('[data-role="button"]', root);
        var overlay;
        var tabs;

        overlay = (function () {
            var overlay = $('[data-role="overlay"]', root);
            var state = false;

            overlay.open = function (animate) {
                if (state)
                    return;

                state = true;

                if (animate) {
                    overlay.css({'width': '100%', 'height': '100%', 'opacity': '1'}).stop().animate({
                            'opacity': 1
                        }, 500, function () {
                        }
                    );
                } else {
                    overlay.css({'width': '100%', 'height': '100%', 'opacity': 1});
                }
            };

            overlay.close = function (animate) {
                if (!state)
                    return;

                state = false;

                if (animate) {
                    overlay.css('opacity', 0).stop().animate({
                            'opacity': 0
                        }, 500, function () {
                            overlay.css({'width': '', 'height': '', 'opacity': ''});
                        }
                    );
                } else {
                    overlay.css({'opacity': '', 'width': '', 'height': ''});
                }
            };

            return overlay;
        })();

        tabs = (function () {
            var tabs = $('[data-role="tabs"]', root);
            var list = $('[data-tab]', tabs);
            var current = null;

            tabs.open = function (code, animate) {
                var tab;
                var width = {};

                tab = list.filter('[data-tab="' + code + '"]');

                if (tab.length !== 1)
                    return false;

                tabs.trigger('open', [tab]);

                width.current = tabs.width();
                current = code;

                list.css({
                    'display': '',
                    'width': ''
                }).attr('data-active', 'false');

                tab.css('display', 'block').attr('data-active', 'true');
                width.new = tab.width();

                if (animate) {
                    tab.css('width', width.current).stop().animate({
                        'width': width.new
                    }, 500, function () {
                        tab.css('width', '');
                    });
                } else {
                    tab.css('width', '');
                }

                return true;
            };

            tabs.close = function (animate) {
                var tab;

                if (current === null)
                    return;

                tab = list.filter('[data-tab="' + current + '"]');
                current = null;

                if (tab.length !== 1)
                    return;

                tabs.trigger('close', [tab]);

                if (animate) {
                    tab.stop().animate({
                        'width': 0
                    }, 500, function () {
                        list.attr('data-active', 'false');
                        tab.css({
                            'width': '',
                            'display': ''
                        });
                    });
                } else {
                    list.attr('data-active', 'false');
                    tab.css('display', '');
                }
            };

            tabs.switch = function (code, animate) {
                if (code === current) {
                    tabs.close(animate);
                    overlay.close(animate);

                    return false;
                } else {
                    tabs.open(code, animate);
                    overlay.open(animate);

                    return true;
                }
            };

            tabs.getCurrent = function () {
                return current;
            };

            return tabs;
        })();

        switches.activate = function (item) {
            item = switches.children('[data-role="switch"]').filter(item);

            if (item.length !== 1)
                return;

            item.attr('data-active', 'true');
            item.addClass('active');
        };

        switches.deactivate = function () {
            switches.children('[data-role="switch"]').attr('data-active', 'false');
            switches.children('[data-role="switch"]').removeClass('active');
        };

        tabs.on('close', function () {
            switches.deactivate();
        });

        switches.children('[data-role="switch"]').on('click', function () {
            var self = $(this);
            var tab = self.data('tab');

            switches.deactivate();

            if (tabs.switch(tab, true)) {
                switches.activate(self);
            }
        });

        overlay.on('click', function () {
            tabs.close(true);
            overlay.close(true);
        });

    })(jQuery, intec)
</script>
