{% set id = request.id %}
{% set ids = id|split('_') %}
{% set product_id = ids[0] %}
{% if iiko.products[product_id] is not empty %}
    {% set modifier_ids = ids|slice(1) %}
    <div class="sale-basket-small-product">
        <div class="sale-basket-small-product-wrapper intec-grid intec-grid-a-v-center">
            {% set imgObj  = iiko.products[product_id].images[0] %}
            {% if imgObj %}
                {% set img = img_resize(imgObj.imageId,imgObj.imageUrl, 'thumbnail') %}
            {% else %}
                {% set img = config.products.items[product_id].img|default(config.placeholder_img) %}
            {% endif %}
            <span class="intec-grid-item-auto sale-basket-small-product-image-wrap"> <span
                        class="sale-basket-small-product-image"
                        style="background-image: url({{ img }});"></span>
            </span>
            <div class="intec-grid-item">
                                <span class="sale-basket-small-product-added-text">
                                    {{ config.basket.added_to_basket }}                            </span>
                <span class="sale-basket-small-product-name">{{ iiko.products[product_id].name }}
                    {% if modifier_ids %}
                        {% set props = [] %}
                        {% for modifier_id in modifier_ids %}
                            {% set props = props|merge([iiko.products[modifier_id].name]) %}
                        {% endfor %}
                        ({{ props|join(', ') }})
                    {% endif %}
                </span></div>
        </div>
        <span class="sale-basket-small-product-btn-close intec-cl-background intec-cl-background-light-hover"
              data-role="close">
                            <i class="fal fa-times"></i>
                        </span>
    </div>
{% endif %}
