{% set product_id = request.parameters.id %}
{% set product = iiko.products[product_id] %}
{% set productPriceText = product.price %}
<div>
    <div id="i-0-bitrix-catalog-element-quick-view-2-{{ ids }}"
         class="ns-bitrix c-catalog-element c-catalog-element-quick-view-2">
        <div class="catalog-element-wrapper">
            <div class="catalog-element-name">
                {{ product.name }}
            </div>
            <div class="catalog-element-content">
                <div class="catalog-element-scroll" data-role="scroll">
                    <div class="catalog-element-content-wrapper intec-grid intec-grid-768-wrap">
                        <div class="catalog-element-content-left intec-grid-item-auto intec-grid-item-768-1">
                            <div class="catalog-element-gallery-block">
                                <div class="catalog-element-marks">
                                </div>
                                <div class="catalog-element-gallery" data-role="gallery" data-offer="false">
                                    <div class="catalog-element-gallery-items">
                                        <div class="catalog-element-gallery-items-wrapper"
                                             data-role="gallery.pictures">
                                            <div class="catalog-element-gallery-item intec-image"
                                                 data-role="gallery.picture">
                                                <div class="intec-aligner"></div>
                                                {% set imgObj  = product.images[0] %}
                                                {% if imgObj %}
                                                    {% set img = img_resize(imgObj.imageId,imgObj.imageUrl, 'large') %}
                                                {% else %}
                                                    {% set img = config.products.items[product.id].img|default(config.placeholder_img) %}
                                                {% endif %}
                                                <img src="{{ img }}"
                                                     alt="{{ product.name }}" title="{{ product.name }}" loading="lazy"
                                                     data-lazyload-use="false" data-original=""></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="catalog-element-content-right intec-grid-item intec-grid-item-768-1">
                            <div class="catalog-element-action-block intec-grid intec-grid-wrap intec-grid-768-wrap intec-grid-i-10">
                                <div class="intec-grid-item intec-grid-item-768-1">
                                    <div class="catalog-element-price" data-role="price" data-show="true"
                                         data-discount="false">
                                        <div class="catalog-element-price-base" data-role="price.discount">
                                            {{ productPriceText }}
                                        </div>
                                        <div class="catalog-element-price-discount" data-role="price.base">
                                            {{ productPriceText }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="catalog-element-action-block {% if product.groupModifiers is not empty %}has-properties{% endif %} intec-grid intec-grid-wrap intec-grid-768-wrap">
                                <div class="intec-grid-item-auto intec-grid-item-768-1">
                                    <div class="intec-grid intec-grid-i-v-10 intec-grid-a-v-center intec-grid-a-h-start intec-grid-nowrap intec-grid-1000-wrap">
                                        <div class="intec-grid-item-auto intec-grid-item-1000-1">
                                            <div class="catalog-element-counter">
                                                <div class="intec-ui intec-ui-control-numeric intec-ui-view-3 intec-ui-scheme-current intec-ui-size-4"
                                                     data-role="counter">
                                                    <a class="intec-ui-part-decrement" href="javascript:void(0)"
                                                       data-type="button" data-action="decrement">-</a> <input
                                                            type="text" class="intec-ui-part-input" value="1"
                                                            data-type="input"> <a class="intec-ui-part-increment"
                                                                                  href="javascript:void(0)"
                                                                                  data-type="button"
                                                                                  data-action="increment">+</a></div>
                                            </div>
                                        </div>
                                        {% if product.groupModifiers is not empty %}
                                            <div class="catalog-element-offers">
                                                {% for groupModifier in product.groupModifiers %}
                                                    <div class="catalog-element-offers-property" data-role="property" data-type="text">
                                                        <div class="catalog-element-offers-property-title">
                                                            {% for group in iiko.groups %}
                                                                {% if group.id == groupModifier.modifierId %}
                                                                    {{ group.name }}
                                                                {% endif %}
                                                            {% endfor %}
                                                        </div>
                                                        <div class="catalog-element-offers-property-values">
                                                            {% for childModifier in groupModifier.childModifiers|reverse() %}
                                                                <div class="catalog-element-offers-property-value intec-cl-border-hover"
                                                                     data-role="property.value"
                                                                     data-state="enabled"
                                                                     data-price="{{ iiko.products[childModifier.modifierId].price }}"
                                                                     data-id="{{ childModifier.modifierId }}">
                                                                    <div class="catalog-element-offers-property-value-text">
                                                                        {{ iiko.products[childModifier.modifierId].name }}
                                                                    </div>
                                                                </div>
                                                            {% endfor %}
                                                        </div>
                                                        <div class="property-error">
                                                            Пожалуйста, выберите вариант
                                                        </div>
                                                    </div>

                                                {% endfor %}
                                            </div>
                                        {%  endif %}
                                        <div class="intec-grid-item-auto intec-grid-item-768-1">

                                            <div class="catalog-element-purchase">
                                                <div class="catalog-element-purchase-buttons">
                                                    <div class="intec-ui intec-ui-control-basket-button catalog-element-purchase-button catalog-element-purchase-button-add intec-cl-background intec-cl-background-light-hover"
                                                            {% if product.groupModifiers is not empty %}
                                                                disabled="disabled"
                                                            {% endif %}
                                                         data-basket-id="{{ product_id }}"
                                                         data-base-basket-id="{{ product_id }}"
                                                         data-basket-action="add"
                                                         data-basket-state="none" data-basket-quantity="1"
                                                         data-basket-price="{{ product.price }}">                    <span
                                                                class="catalog-element-purchase-button-content intec-ui-part-content">
                        <i class="glyph-icon-cart"></i>
                        <span>
                            В корзину                        </span>
                    </span>
                                                        <span class="intec-ui-part-effect intec-ui-part-effect-bounce">
                        <span class="intec-ui-part-effect-wrapper">
                            <i></i><i></i><i></i>
                        </span>
                    </span>
                                                    </div>
                                                    <span class="catalog-element-purchase-button catalog-element-purchase-button-added intec-cl-background-light"
                                                          data-basket-state="none">                    <span
                                                                class="catalog-element-purchase-button-content">
                        <i class="glyph-icon-cart"></i>
                        <span>
                            Добавлено                        </span>
                    </span>
                                                    </span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="catalog-element-description">
                                {{ product.description }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    (function ($, api) {
        universe.basket.update();

        $(function () {
            var root = $('#i-0-bitrix-catalog-element-quick-view-2-{{ ids }}');
            root.scroll = $('[data-role="scroll"]', root);
            root.scroll.scrollbar();
        });
    })(jQuery, intec);
</script>

<style>
    .catalog-element-price-discount:after, .catalog-element-price-base:after{
        content: ' {{ config.currency_symbol }}';
    }
    .catalog-element-price-discount:before, .catalog-element-price-base:before{
        content: 'от ';
    }
    .catalog-element-price-discount.exact:before, .catalog-element-price-base.exact:before{
        content: '';
    }
</style>