{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Utils plugin for Craft CMS 3.x
 *
 * Utils index.twig
 *
 * @author    Dmitry Borovkov
 * @copyright Copyright (c) 2020 Dmitry Borovkov
 * @link      mailto:borovkov.dmitry@gmail.com
 * @package   Utils
 * @since     1
 */
#}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("utilsutils\\utils\\assetbundles\\utils\\UtilsAsset") %}
{% do view.registerAssetBundle("utilsutils\\utils\\assetbundles\\indexcpsection\\IndexCPSectionAsset") %}

{# Link for the ? icon at the bottom of the page #}
{% set docsUrl = "???" %}

{# The title of this CP section #}
{% set title = "Utils" %}

{# The URL to this plugin's base CP section #}
{% set pluginCpUrl = url('utils') %}

{# Get a URL to an image in our AssetBundle #}
{% set iconUrl = view.getAssetManager().getPublishedUrl('@utilsutils/utils/assetbundles/indexcpsection/dist', true) ~ '/img/Index-icon.svg' %}

{# Content that should appear in the page header#}
{% set extraPageHeaderHtml %}
    <div class="buttons">
        <a href="{{ pluginCpUrl }}" class="btn submit add icon">{{ "Click Me!"|t('utils') }}</a>
    </div>
{% endset %}

{# The content of the CP Section#}
{% set content %}
    <h2>{{ "Index CP Section body goes here"|t('utils') }}</h2>
    <img src="{{ iconUrl }}" height="64" width="64" />
    <p class="textline"></p>
{% endset %}
