{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Utils plugin for Craft CMS 3.x
 *
 * Utils Settings.twig
 *
 * @author    Dmitry Borovkov
 * @copyright Copyright (c) 2020 Dmitry Borovkov
 * @link      mailto:borovkov.dmitry@gmail.com
 * @package   Utils
 * @since     1
 */
#}

{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("utilsutils\\utils\\assetbundles\\utils\\UtilsAsset") %}

{{ forms.textField({
    label: 'Some Field',
    instructions: 'Enter some setting here.',
    id: 'someAttribute',
    name: 'someAttribute',
    value: settings['someAttribute']})
}}
