{% set component = request.component %}
{% if component == 'quick.view' %}
    {% include '_partials/ajax/quick-view.twig' %}
{% else %}
    {% set phone_clean_replacement={' ':'', '(':'', ')':'', '-':''} %}
    {% set basketCount = session.basket|length %}
    {% set currentTerminalId = session.terminalId|default(config.default_terminal_id) %}
    {% set phone = config.terminals.items[currentTerminalId].phone|default(config.phone) %}
    {% set email = config.terminals.items[currentTerminalId].email|default(config.email) %}
    <!DOCTYPE html>
    <html lang="ru">
    <head>
        <title>{{ config.terminals.items[currentTerminalId].site_title }} - {{ current_page.title }}</title>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
        <meta content="{{ config.terminals.items[currentTerminalId].site_description }}" name="description"/>
        <meta content="{{ config.terminals.items[currentTerminalId].site_keywords }}" name="keywords"/>

        {{ config.terminals.items[currentTerminalId].head_scripts|raw }}

        <link href="{{ theme_url }}/css/style.css" rel="stylesheet" type="text/css"/>
        <link href="{{ theme_url }}/libs/selectize.js/css/selectize.bootstrap3.css" rel="stylesheet" type="text/css"/>

        {% include '_partials/js_inline_head.twig' %}

        <link href="{{ theme_url }}/fonts/opensans/ui.font.opensans.min.css" rel="stylesheet"
              type="text/css"/>
        <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&amp;subset=cyrillic" rel="stylesheet"
              type="text/css"/>

        {% if current_page.id == 'index' %}
            <link rel="canonical" href="/set_terminal_id.php?region={{ currentTerminalId }}"/>
        {% endif %}

        {% include '_partials/css_inline.twig' %}

        <meta content="initial-scale=1.0, width=device-width" name="viewport">
        <meta content="website" name="og:type"/>
        <meta content="{{ site_title }}" name="og:title"/>
        <meta content="{{ config.site_description }}" name="og:description"/>
        <link href="{{ theme_url }}/favicon.ico" rel="shortcut icon" type="image/x-icon">
    </head>
    <body class="public intec-adaptive">
    <div class="container-177 intec-template" >
        <div class="container-178 intec-template-content" >
            <div class="container-179 intec-template-content-wrapper" >
                <div class="container-180 intec-template-header">
                    <div class="container-1" >

                        {% if current_page.id == 'index' %}

                            {% include '_partials/notification.twig' %}

                        {% endif %}

                        {% if current_page.id != 'order' %}

                            {% include '_partials/basket_overlay.twig' %}

                        {% endif %}

                        {% include '_partials/header.twig' %}

                        {% if current_page.id != 'index' %}

                            {% include '_partials/breadcrumbs.twig' %}

                            {% include '_partials/page_title.twig' %}

                        {% endif %}

                    </div>
                </div>
                <div class="container-181 intec-template-page intec-template-page-flat" >
                    <div class="container-182 intec-template-page-wrapper" >
                        <div class="container-183 intec-template-page-content" >

                            {% include ['templates/'~ current_page.id ~ '.twig', 'page.twig'] %}

                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% include '_partials/footer.twig' %}

    </div>

    <script src="{{ theme_url }}/js/core.min.js" type="text/javascript"></script>
    <script src="{{ theme_url }}/js/core_popup.min.js" type="text/javascript"></script>
    <script src="{{ theme_url }}/js/template_scripts.js" type="text/javascript"></script>
    <script src="{{ theme_url }}/js/jquery.mask.js" type="text/javascript"></script>
    <script src="{{ theme_url }}/libs/selectize.js/js/standalone/selectize.min.js" type="text/javascript"></script>
    <script src="{{ theme_url }}/js/scripts.js?{{ random(0,999999) }}" type="text/javascript"></script>

    <script type="text/javascript">
        (function(d, w, s) {
            var widgetHash = '65zu8uxvj73eepa5puvp', gcw = d.createElement(s); gcw.type = 'text/javascript'; gcw.async = true;
            gcw.src = '//widgets.binotel.com/getcall/widgets/'+ widgetHash +'.js';
            var sn = d.getElementsByTagName(s)[0]; sn.parentNode.insertBefore(gcw, sn);
        })(document, window, 'script');
    </script>

    {% include '_partials/js_inline_body_end.twig' %}

    <div id="i-14-bitrix-system-auth-form-panel-8k8aZSkGQIXc-modal" class="popup-window popup-window-with-titlebar popup-window-fixed-width" style="z-index: 1000; position: absolute; display: none; top: 0px; left: 0px; width: 800px;"><div class="popup-window-titlebar" id="popup-window-titlebar-i-14-bitrix-system-auth-form-panel-8k8aZSkGQIXc-modal"><span class="access-title-bar">Авторизация</span></div><div id="popup-window-content-i-14-bitrix-system-auth-form-panel-8k8aZSkGQIXc-modal" class="popup-window-content" style="overflow-x: auto;"></div><span class="popup-window-close-icon popup-window-titlebar-close-icon" style="right: 20px; top: 22px;"></span></div>

    </body>
    </html>
{% endif %}
