{% set basket = session.basket %}
{% set basketCount = basket|length %}
{% set total = 0 %}
{% for product_ids, quantity in basket %}
    {% set ids = product_ids|split('_') %}
    {% set product_id = ids[0] %}
    {% set modifier_ids = ids|slice(1) %}
    {% set price = iiko.products[product_id].price %}
    {% if modifier_ids %}
        {% for modifier_id in modifier_ids %}
            {% set price = price + iiko.products[modifier_id].price %}
        {% endfor %}
    {% endif %}
    {% set total = total + (price * quantity) %}
{% endfor %}
{{ total }}