<div class="container-47 intec-template-page">
    <div class="container-48 intec-template-page-wrapper">
        <div class="container-49 intec-template-page-content">
            <div class="container-50">
                <div id="i-25-bitrix-sale-order-ajax-simple-1-Hg06U3uHg7LA"
                     class="ns-bitrix c-sale-order-ajax c-sale-order-ajax-simple-1">
                    <div class="sale-order-ajax-wrapper intec-content">
                        <div class="sale-order-ajax-wrapper-2 intec-content-wrapper">
                            <div class="bx-soa-page bx-soa-page-confirm">
                                <div class="bx-soa-page-block-content">
                                    {{ content }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>