{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Utils plugin for Craft CMS 3.x
 *
 * UtilsField Field Input
 *
 * @author    Dmitry Borovkov
 * @copyright Copyright (c) 2020 Dmitry Borovkov
 * @link      mailto:borovkov.dmitry@gmail.com
 * @package   Utils
 * @since     1
 */
#}

{% import "_includes/forms" as forms %}

{{ forms.textField({
        label: 'Some Field',
        instructions: 'Enter some text here.',
        id: name,
        name: name,
        value: value})
}}
