{% set basket = session.basket %}
{% set basketCount = basket|length %}
{% set total = 0 %}
{% for product_ids, quantity in basket %}
    {% set ids = product_ids|split('_') %}
    {% set product_id = ids[0] %}
    {% set modifier_ids = ids|slice(1) %}
    {% set price = iiko.products[product_id].price %}
    {% if modifier_ids %}
        {% for modifier_id in modifier_ids %}
            {% set price = price + iiko.products[modifier_id].price %}
        {% endfor %}
    {% endif %}
    {% set price = iiko.products[product_id].price %}
    {% set total = total + price * quantity %}
{% endfor %}
<div class="container-47 intec-template-page">
    <div class="container-48 intec-template-page-wrapper">
        <div class="container-49 intec-template-page-content">
            <div class="container-50">
                <div class="ns-bitrix c-basket c-basket-template-1"
                     id="i-25-bitrix-sale-basket-basket-template-1-ouh0s0EnNcQO">
                    <div class="intec-content intec-content-visible">
                        <div class="intec-content-wrapper">
                            {% if basketCount %}

                                <div id="basket-root" class="basket-body">
                                    <div class="basket-total" data-entity="basket-total-block">
                                        <div class="basket-total-container" data-entity="basket-checkout-aligner">
                                            <div class="basket-total-wrapper intec-grid intec-grid-1024-wrap">
                                                <div class="intec-grid-item-auto intec-grid-item-1024-1"
                                                     data-print="false">
                                                    <div class="basket-filter-status intec-grid-item-auto intec-cl-border-hover intec-cl-border active"
                                                         data-entity="basket-items-count" data-filter="all" style="">
                                                        {{ basketCount }}
                                                        {% if basketCount == 1 %}
                                                            {{ config.basket.product_plurals[0] }}
                                                        {% elseif basketCount >=2 and basketCount <= 4 %}
                                                            {{ config.basket.product_plurals[1] }}
                                                        {% else %}
                                                            {{ config.basket.product_plurals[2] }}
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <div class="intec-grid-item intec-grid-item-1024-1">
                                                    <div class="basket-price-wrap intec-grid intec-grid-a-h-end intec-grid-768-wrap">
                                                        <div class="intec-grid-item-auto intec-grid-item-768-1">
                                                            <div class="basket-price" style="margin-top: 10px;">
                                                                <div class="basket-price-wrapper intec-grid intec-grid-wrap intec-grid-a-h-end intec-grid-i-h-16">
                                                                    <div class="intec-grid-item-auto">
                                                                        <div class="basket-price-info">
                                                                            <div class="basket-price-info-name">
                                                                                {{ config.basket.total }}
                                                                            </div>
                                                                            <div class="basket-price-info-values">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="intec-grid-item-auto">
                                                                        <div class="basket-price-values">
                                                                            <div class="basket-price-current"
                                                                                 data-entity="basket-total-price">{{ total }} {{ config.currency_symbol }}
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="intec-grid-item-auto intec-grid-item-768-1"
                                                             data-print="false">
                                                            <div class="basket-order">
                                                                <div class="basket-order-wrapper intec-grid intec-grid-wrap intec-grid-a-h-end">
                                                                    <div class="intec-grid-item-auto">

                                                                        <a href='/order' class="basket-order-button intec-ui intec-ui-control-button intec-ui-size-3 intec-ui-mod-round-4 intec-ui-mod-block intec-ui-scheme-current"
                                                                                data-entity="basket-checkout-button">
                                                                            {{ config.basket.create_order_btn }}
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="basket-items" id="basket-items-list-wrapper">
                                        <div id="basket-items-list-container" class="basket-items-wrapper"
                                             data-overlayed="true">
                                            <div id="basket-items-list-overlay" class="basket-overlay"
                                                 style="display: none;"></div>
                                            <div class="" id="basket-item-list">
                                                <div class="basket-items-container" id="basket-item-table">
                                                    {% for product_ids, quantity in basket %}
                                                        {% set ids = product_ids|split('_') %}
                                                        {% set product_id = ids[0] %}
                                                        {% set modifier_id = ids[1] %}
                                                        {% set price = iiko.products[product_id].price %}
                                                        {% if modifier_id %}
                                                            {% set price = price + iiko.products[modifier_id].price %}
                                                        {% endif %}
                                                        <div id="basket-item-{{ product_ids }}" class="basket-item"
                                                             data-entity="basket-item"
                                                             data-id="{{ product_ids }}">
                                                            <div class="basket-item-wrapper intec-grid intec-grid-a-v-stretch intec-grid-650-wrap">
                                                                <div class="intec-grid-item intec-grid-item-650-1">
                                                                    <div class="basket-item-content">
                                                                        <div class="intec-grid intec-grid-i-10 intec-grid-650-wrap">
                                                                            <div class="intec-grid-item intec-grid-item-800-2 intec-grid-item-650-1">
                                                                                <div class="basket-item-main">
                                                                                    <div class="intec-grid intec-grid-800-wrap">
                                                                                        <div class="basket-item-image-wrap intec-grid-item-auto intec-grid-item-800-1">
                                                                                            <div class="basket-item-image">
                                                                                        <span class="basket-item-image-link">
                                                                                            {% set imgObj  = iiko.products[product_id].images[0] %}
                                                                                            {% if imgObj %}
                                                                                                {% set img = img_resize(imgObj.imageId,imgObj.imageUrl, 'preview') %}
                                                                                            {% else %}
                                                                                                {% set img = config.products.items[product.id].img|default(config.placeholder_img) %}
                                                                                            {% endif %}
                                                                                            <img class="intec-image-effect" alt="{{ iiko.products[product_id].name }}" data-lazyload-use="true" data-original="{{ img }}" loading="lazy" src="{{ theme_url }}/img/picture.loading.svg" title="{{ iiko.products[product_id].name }}">
                                                                                        </span>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="basket-item-info-wrap intec-grid-item intec-grid-item-800-1">
                                                                                            <div class="basket-item-info">
                                                                                                <h2 class="basket-item-name">
                                                                                            <span class="intec-cl-text-hover"
                                                                                                  data-entity="basket-item-name">
                                                                                                {{ iiko.products[product_id].name }}
                                                                                                {% if modifier_id %}
                                                                                                    ({{ iiko.products[modifier_id].name }})
                                                                                                {% endif %}
                                                                                            </span>
                                                                                                </h2>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="intec-grid-item intec-grid-item-1200-4 intec-grid-item-1000-3 intec-grid-item-800-2 intec-grid-item-650-1">
                                                                                <div class="basket-item-additional">
                                                                                    <div class="intec-grid intec-grid-nowrap intec-grid-a-h-end intec-grid-a-v-center intec-grid-i-10 intec-grid-1200-wrap">
                                                                                        <div class="basket-item-price-apart-wrap intec-grid-item-3 intec-grid-item-1200-1"
                                                                                             data-mobile-hidden="true">
                                                                                            <div class="basket-item-price-apart">
                                                                                                <div class="basket-item-price-apart-measure">
                                                                                                    <span>Цена за</span>
                                                                                                    <span>1</span>
                                                                                                    <span>шт</span>
                                                                                                </div>
                                                                                                <div id="basket-item-price-1958"
                                                                                                     class="basket-item-price-apart-value">
                                                                                                    {{ price }} {{ config.currency_symbol }}
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="basket-item-quantity-wrap intec-grid-item-auto intec-grid-item-1200-1">
                                                                                            <div class="basket-item-quantity-wrapper">
                                                                                                <div class="basket-item-quantity"
                                                                                                     data-entity="basket-item-quantity-block">
                                                                                                    <div class="basket-item-quantity-counter intec-ui intec-ui-control-numeric intec-ui-scheme-current intec-ui-view-2 intec-ui-size-5">
                                                                                                        <button type="button"
                                                                                                                class="intec-ui-part-decrement"
                                                                                                                data-entity="basket-item-quantity-minus"
                                                                                                                data-print="false">
                                                                                                            -
                                                                                                        </button>
                                                                                                        <input type="text" readonly
                                                                                                               id="basket-item-quantity-{{ product_ids }}"
                                                                                                               class="intec-ui-part-input"
                                                                                                               value="{{ quantity }}"
                                                                                                               data-entity="basket-item-quantity-field"
                                                                                                               data-value="{{ quantity }}">
                                                                                                        <button type="button"
                                                                                                                class="intec-ui-part-increment"
                                                                                                                data-entity="basket-item-quantity-plus"
                                                                                                                data-print="false">
                                                                                                            +
                                                                                                        </button>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="intec-grid-item-3 intec-grid-item-1200-1 basket-item-total-wrap"
                                                                                             data-mobile-hidden="false">
                                                                                            <div class="basket-item-total">
                                                                                                <div id="basket-item-sum-price-1958"
                                                                                                     class="basket-item-total-value">
                                                                                                    {{ price * quantity }} {{ config.currency_symbol }}
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="intec-grid-item-auto intec-grid-item-650-1"
                                                                     data-print="false">
                                                                    <div class="basket-item-actions">
                                                                        <div class="intec-grid intec-gri-nowrap intec-grid-a-v-stretch">
                                                                            <div class="intec-grid-item-auto intec-grid-item-650-1">
                                                                                <div class="basket-item-action"
                                                                                     title="Удалить"
                                                                                     data-entity="basket-item-delete"
                                                                                     data-item-action="delete">
                                                                                    <svg width="19" height="21"
                                                                                         viewBox="0 0 19 21" fill="none"
                                                                                         xmlns="http://www.w3.org/2000/svg">
                                                                                        <path d="M2.729 5.54822V17.9669C2.729 18.4374 2.91782 18.8887 3.25392 19.2214C3.59002 19.5541 4.04588 19.741 4.52119 19.741H13.4821C13.9575 19.741 14.4133 19.5541 14.7494 19.2214C15.0855 18.8887 15.2743 18.4374 15.2743 17.9669V5.54822M7.20948 8.98347V15.3058M10.7939 8.98347V15.3058"
                                                                                              stroke="#999999"
                                                                                              stroke-width="2"
                                                                                              stroke-linecap="round"
                                                                                              stroke-linejoin="round"></path>
                                                                                        <path d="M1 4.54822H17.1297M5.48047 4.5482V2.7741C5.48047 2.30358 5.66929 1.85233 6.00539 1.51962C6.34149 1.18691 6.79734 1 7.27266 1H10.857C11.3324 1 11.7882 1.18691 12.1243 1.51962C12.4604 1.85233 12.6492 2.30358 12.6492 2.7741V4.5482"
                                                                                              stroke="#999999"
                                                                                              stroke-width="2"
                                                                                              stroke-linecap="round"
                                                                                              stroke-linejoin="round"></path>
                                                                                    </svg>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            {% else %}

                                {% include '_partials/basket_empty.twig' %}

                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>