{% include '_partials/products.twig' %}

{% include '_partials/product_categories.twig' %}

{% include '_partials/promotions.twig' %}

{% include '_partials/about.twig' %}

{% include '_partials/reviews.twig' %}

{% include '_partials/map.twig' %}