{% set basket = session.basket %}
{% set basketCount = basket|length %}
{% set total = 0 %}
{% for product_id, quantity in basket %}
    {% set ids = product_id|split('_') %}
    {% set product_id = ids[0] %}
    {% set modifier_ids = ids|slice(1) %}
    {% set price = iiko.products[product_id].price %}
    {% if modifier_ids %}
        {% for modifier_id in modifier_ids %}
            {% set price = price + iiko.products[modifier_id].price %}
        {% endfor %}
    {% endif %}
    {% set total = total + price * quantity %}
{% endfor %}
<div class="container-50">
    {% set time = ('now'|date('U') + 6*3600) % 86400  %}
    {% if time < 8.5 * 3600 or time > 22* 3600 %}
        {% include '_partials/work_schedule_disclaimer.twig' %}
    {% endif %}
    <div id="i-25-bitrix-sale-order-ajax-simple-1-Hg06U3uHg7LA"
         class="ns-bitrix c-sale-order-ajax c-sale-order-ajax-simple-1">
        <div class="sale-order-ajax-wrapper intec-content">
            <div class="sale-order-ajax-wrapper-2 intec-content-wrapper">
                {% if basketCount %}

                    <form action="/create-order.php" method="POST" name="ORDER_FORM" id="bx-soa-order-form"
                          enctype="multipart/form-data">
                        <div id="bx-soa-order" class="row bx-site">
                            <div class="col-sm-9 bx-soa">
                                <!--	DUPLICATE MOBILE ORDER SAVE BLOCK	-->
                                <div id="bx-soa-paysystem-and-delivery"
                                     class="intec-grid intec-grid-i-10 intec-grid-a-v-stretch intec-grid-wrap">
                                    <div class="intec-grid-item-2 intec-grid-item-900-1">
                                        <div class="bx-soa-section">
                                            <div class="bx-soa-section-title-container">
                                                <h2 class="bx-soa-section-title">
                                                    {{ config.order.customer_form.title }} </h2>
                                            </div>
                                            <div class="bx-soa-section-content container-fluid">
                                                <div class="row">
                                                    <div class="col-sm-12 bx-soa-customer">
                                                        {% set city = iiko.deliveryTerminals[currentTerminalId].deliveryRestaurantName %}
                                                        {% set cityId = iiko.cities[city].id %}
                                                        {% for fields_section_name, fields_section in config.order.customer_form.fields %}
                                                            {% for name, field in fields_section %}
                                                                <div class="form-group bx-soa-customer-field"
                                                                     data-property-id-row="{{ loop.index }}">
                                                                    {% if field.title %}
                                                                        <label for="soa-property-{{ fields_section_name }}-{{ name }}"
                                                                               class="bx-soa-custom-label">{{ field.title }}
                                                                            {% if field.required %}
                                                                                <span class="bx-authform-starrequired">*</span>
                                                                            {% endif %}
                                                                        </label>
                                                                    {% endif %}
                                                                    {% if not field.type %}
                                                                        <div class="soa-property-container">
                                                                            <input type="text" size="40"
                                                                                    {% if field.required %}
                                                                                        required
                                                                                    {% endif %}
                                                                                   name="{{ fields_section_name }}[{{ name }}]"
                                                                                   id="soa-property-{{ fields_section_name }}-{{ name }}"
                                                                                   autocomplete="{{ name }}"
                                                                                   placeholder=""
                                                                                   class="form-control bx-soa-customer-input bx-ios-fix">
                                                                        </div>
                                                                    {% elseif field.type == 'textarea' %}
                                                                        <textarea cols="8"
                                                                               {% if field.required %}
                                                                                   required
                                                                               {% endif %}
                                                                              class="form-control bx-soa-customer-textarea bx-ios-fix"
                                                                                  name="{{ fields_section_name }}[{{ name }}]"></textarea>
                                                                    {% elseif field.type == 'hidden' %}
                                                                        <input type="hidden"
                                                                               name="{{ fields_section_name }}[{{ name }}]"
                                                                               id="soa-property-{{ fields_section_name }}-{{ name }}"></input>
                                                                    {% elseif field.type == 'city_select' %}
                                                                        <input type="text" size="40"
                                                                                {% if field.required %}
                                                                                    required
                                                                                {% endif %}
                                                                               name="{{ fields_section_name }}[{{ name }}]"
                                                                               id="soa-property-{{ fields_section_name }}-{{ name }}"
                                                                               autocomplete="{{ name }}"
                                                                               placeholder=""
                                                                               readonly
                                                                               value="{{ city }}"
                                                                               class="form-control bx-soa-customer-input bx-ios-fix">
                                                                    {% elseif field.type == 'street_select' %}
                                                                        <select
                                                                                {% if field.required %}
                                                                                    required
                                                                                {% endif %}
                                                                                name="{{ fields_section_name }}[{{ name }}]"
                                                                                id="soa-property-{{ fields_section_name }}-{{ name }}"
                                                                                class="bx-soa-customer-input bx-ios-fix"
                                                                                data-city-id="{{ cityId }}">
                                                                            <option value=""></option>
                                                                        </select>
                                                                    {% endif %}
                                                                </div>
                                                            {% endfor %}
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="intec-grid-item-2 intec-grid-item-900-1" style="">
                                        <!--	DELIVERY BLOCK	-->
                                        <div id="bx-soa-delivery" class="bx-soa-section bx-active">
                                            <div class="bx-soa-section-title-container">
                                                <h2 class="bx-soa-section-title">
                                                    {{ config.order.delivery_form.title }} </h2>
                                            </div>
                                            <div class="bx-soa-section-content container-fluid">
                                                <div class="bx-soa-pp">
                                                    <div class="bx-soa-pp-item-container">

                                                        <div class="bx-soa-pp-company bx-selected"
                                                             data-delivery-type="{{ config.order.delivery_form.options|keys[1] }}">
                                                            <div class="bx-soa-pp-company-graf-container"><input
                                                                        name="order[isSelfService]"
                                                                        type="radio"
                                                                        class="bx-soa-pp-company-checkbox"
                                                                        value="false">
                                                            </div>
                                                            <div class="bx-soa-pp-company-smalltitle">
                                                                {{ config.order.delivery_form.options.courier.title }}
                                                            </div>
                                                            {% if config.terminals.items[currentTerminalId].courier_label %}
                                                                <div class="bx-soa-pp-delivery-cost">
                                                                    <span>
                                                                        {{ config.terminals.items[currentTerminalId].courier_label }}
                                                                    </span>
                                                                </div>
                                                            {% endif %}

                                                            <div class="bx-soa-pp-company-parameters"></div>
                                                            {% if config.terminals.items[currentTerminalId].courier_description %}
                                                                <div class="bx-soa-pp-company-description">
                                                                    {{ config.terminals.items[currentTerminalId].courier_description|nl2br }}
                                                                </div>
                                                            {% endif %}
                                                        </div>
                                                        <div class="bx-soa-pp-company"
                                                             data-delivery-type="{{ config.order.delivery_form.options|keys[0] }}">
                                                            <div class="bx-soa-pp-company-graf-container"><input
                                                                        name="order[isSelfService]"
                                                                        type="radio"
                                                                        class="bx-soa-pp-company-checkbox" checked
                                                                        value="true">
                                                            </div>
                                                            <div class="bx-soa-pp-company-smalltitle">{{ config.order.delivery_form.options.self_pickup.title }}</div>

                                                            <div class="bx-soa-pp-company-description bx-soa-pp-company-desc">
                                                                {{ config.order.delivery_form.options.self_pickup.description }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <!--	SIDEBAR BLOCK	-->
                            <div id="bx-soa-total" class="col-sm-12 col-lg-3 bx-soa-sidebar">
                                {% include '_partials/order-cart.twig' %}

                                <div class="bx-soa-cart-total" style="">
                                    <div class="bx-soa-cart-total-line">
                                        <span class="bx-soa-cart-t">{{ config.order.subtotal }}</span>
                                        <span class="bx-soa-cart-d"><span
                                                    class="cart-subtotal-value">{{ total }}</span> {{ config.currency_symbol }}</span>
                                    </div>
                                    <div class="bx-soa-cart-total-line">
                                        <span class="bx-soa-cart-t">
                                            {{ config.order.delivery }}
                                        </span>
                                        <span class="bx-soa-cart-d">
                                            <span class="delivery-price delivery-price-{{ config.order.delivery_form.options|keys[0] }} bx-soa-price-free">{{ config.order.delivery_form.options.self_pickup.price_text }}</span>
                                            <span class="delivery-price delivery-price-{{ config.order.delivery_form.options|keys[1] }}">{{ config.order.delivery_form.options.courier.price_text }}</span>
                                            <span class="delivery-price-final"><span>0</span> {{ config.currency_symbol }}</span>
                                        </span>
                                    </div>
                                    <div class="bx-soa-cart-total-line bx-soa-cart-total-line-total"><span
                                                class="bx-soa-cart-t">{{ config.order.total }}</span><span
                                                class="bx-soa-cart-d"
                                                style="font-size: 18px;"><span
                                                    class="cart-total-value">{{ total }}</span> {{ config.currency_symbol }}</span>
                                    </div>
                                    <div class="bx-soa-cart-total-button-container">
                                        {#<button class="intec-ui intec-ui-control-button intec-ui-mod-block intec-ui-mod-round-3 intec-ui-scheme-current intec-ui-size-2 btn-order-save check-order-btn check-order-self-pickup-btn" style="font-size: 14px;">{{ config.order.delivery_form.options.self_pickup.submit_btn }}</button>
                                        <button class="intec-ui intec-ui-control-button intec-ui-mod-block intec-ui-mod-round-3 intec-ui-scheme-current intec-ui-size-2 btn-order-save check-order-btn check-order-courier-btn" style="font-size: 14px;">{{ config.order.delivery_form.options.courier.submit_btn }}</button>
                                        #}
                                        <button class="intec-ui intec-ui-control-button intec-ui-mod-block intec-ui-mod-round-3 intec-ui-scheme-current intec-ui-size-2 btn-order-save create-order-btn"
                                                style="font-size: 14px;">{{ config.order.submit_btn }}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" name="deliveryTerminalId" value="{{ currentTerminalId }}">
                        {% include '_partials/order-form-fields.twig' %}
                    </form>


                {% else %}

                    {% include '_partials/basket_empty.twig' %}

                {% endif %}

            </div>
        </div>
    </div>
</div>
</div>