<div class="container-47 intec-template-page">
    <div class="container-48 intec-template-page-wrapper">
        <div class="container-49 intec-template-page-content">
            <div class="container-50">
                <div id="i-25-bitrix-sale-order-ajax-simple-1-Hg06U3uHg7LA"
                     class="ns-bitrix c-sale-order-ajax c-sale-order-ajax-simple-1">
                    <div class="sale-order-ajax-wrapper intec-content">
                        <div class="sale-order-ajax-wrapper-2 intec-content-wrapper">
                            <div class="bx-soa-page bx-soa-page-confirm">
                                <table class="bx-soa-page-table">
                                    <tbody>
                                    <tr>
                                        <td class="bx-soa-page-table-icon">
                                            <img src="{{ theme_url }}/img/confirm.png">
                                        </td>
                                        <td class="bx-soa-page-table-content">
                                            {{ config.order_success.text|format(request.orderId, request.date|date('d/m/Y H:i'))|raw }}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="bx-soa-page-block">
                                    <div class="bx-soa-page-block-title">
                                        {{ config.order_success.payment_type_label }}
                                    </div>
                                    <div class="bx-soa-page-block-content">
                                        <div class="bx-soa-page-payment-information">
                                            <div class="bx-soa-page-payment-logotype">
                                                <img src="{{ theme_url }}/img/pay_cash.png"
                                                     alt="{{ config.order_success.payment_type_value }}">
                                            </div>
                                            <div class="bx-soa-page-payment-name">
                                                {{ config.order_success.payment_type_value }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ config.terminals.items[currentTerminalId].success_page_scripts|raw }}