{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Utils plugin for Craft CMS
 *
 * UtilsWidget Widget Body
 *
 * @author    Dmitry Borovkov
 * @copyright Copyright (c) 2020 Dmitry Borovkov
 * @link      mailto:borovkov.dmitry@gmail.com
 * @package   Utils
 * @since     1
 */
#}

{% set iconUrl = view.getAssetManager().getPublishedUrl('@utilsutils/utils/assetbundles/utilswidgetwidget/dist', true) ~ '/img/UtilsWidget-icon.svg' %}

<img src="{{ iconUrl }}" height="64" width="64" />

<p>{{ message }}</p>
