{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Utils plugin for Craft CMS
 *
 * UtilsUtility Utility Content
 *
 * @author    Dmitry Borovkov
 * @copyright Copyright (c) 2020 Dmitry Borovkov
 * @link      mailto:borovkov.dmitry@gmail.com
 * @package   Utils
 * @since     1
 */
#}

<h1>UtilsUtility</h1>

{% set iconUrl = view.getAssetManager().getPublishedUrl('@utilsutils/utils/assetbundles/utilsutilityutility/dist', true) ~ '/img/UtilsUtility-icon.svg' %}

<img src="{{ iconUrl }}" height="64" width="64" />

<p>Your Utility content goes here</p>

<p>{{ someVar }}</p>