{% if config.sections.about %}
    <div class="container-264" style="opacity: 1; margin-top: 100px; margin-bottom: 100px;" id="section-about">
        <div class="intec-content">
            <div class="intec-content-wrapper">
                <div class="intec-grid intec-grid-wrap intec-grid-a-v-center intec-grid-a-h-center intec-grid-i-h-25 intec-grid-i-v-10">
                    <div class="intec-grid-item-3 intec-grid-item-720-auto">
                        <img alt="{{ config.sections.about.title }}" src="{{ config.about_img }}">
                    </div>
                    <div class="intec-grid-item intec-grid-item-720-1">
                        <h1 class="intec-ui-markup-header intec-ui-markup-h2">{{ config.sections.about.title }}</h1>
                        <div class="intec-ui-markup-text">
                            {{ config.about_text|nl2br }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}