<div class="widget-banner">
    <div class="widget-banner-1">
        <div class="widget c-slider c-slider-template-1"
             id="i-25-intec-universe-main-slider-template-1-BK5Aovpqtj6y">
            <div class="intec-content-wrap">
                <div class="widget-content" data-dots-view="1" data-nav-view="1"
                     data-role="content" data-scheme="white">
                    <div class="widget-items owl-carousel" data-role="container">
                        {% if config.terminals.items[currentTerminalId].slider %}
                            {% for item in config.terminals.items[currentTerminalId].slider %}
                                <div class="widget-item" data-item-scheme="white"
                                     data-text-position="left" data-lazyload-use="true"
                                     data-original="{{ item.bg_img_url }}">
                                    {% if item.bg_video_url %}
                                        <div class="widget-item-video">
                                            <div id="i-23-intec-universe-system-video-tag-default-DOh7wHRNMPww"
                                                 class="ns-intec-universe c-system-video-tag c-system-video-tag-default"
                                                 style="width: 100%; height: 100%;">
                                                <div class="system-video-tag-content">
                                                    <video autoplay="autoplay" loop="loop" muted="muted"
                                                           preload="metadata" data-role="tag"
                                                           data-lazyload-use="false" data-original=""
                                                           style="background-image: {{ item.bg_img_url }}">
                                                        <source src="{{ item.bg_video_url }}">
                                                    </video>
                                                </div>
                                                <div class="system-video-tag-overlay"></div>
                                            </div>
                                        </div>
                                    {% endif %}
                                    <div class="intec-content intec-content-visible intec-content-primary">
                                        <div class="intec-content-wrapper">
                                            <div class="widget-item-content">
                                                <div class="widget-item-content-body intec-grid intec-grid-i-h-20"
                                                     style="height: 650px;">
                                                    <div class="widget-item-text intec-grid-item-2 intec-grid-item-768-1 intec-grid-item-a-center"
                                                         data-align="left">
                                                        <div class="widget-item-header"
                                                             data-view="4">{{ item.heading|raw }}
                                                        </div>
                                                        <div class="widget-item-description"
                                                             data-view="3"><span
                                                                    style="font-size:{% if item.text_font_size %}{{ item.text_font_size }}{% else %}16{% endif %}px">{{ item.text|raw }}</span>
                                                        </div>
                                                        {% if item.button_text and item.button_url %}
                                                            <div class="widget-item-buttons"
                                                                 data-view="3"><a
                                                                        class="widget-item-button intec-cl-background intec-cl-background-light-hover"
                                                                        href="{{ item.button_url }}"
                                                                        target="_blank">{{ item.button_text }}</a>
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                    {% if not item.bg_video_url and item.content_img_url%}
                                                        <div class="widget-item-picture intec-grid-item-2 intec-grid-item-a-stretch">
                                                            <img src="{{ theme_url }}/img/picture.loading.svg"
                                                                 alt="" title=""
                                                                 data-align-vertical="center"
                                                                 data-lazyload-use="true"
                                                                 data-original="{{ item.content_img_url }}">
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div id="slider_placeholder"></div>
                        {% endif %}
                    </div>
                    <div class="widget-slider-nav intec-content intec-content-visible"
                         data-role="container.nav"></div>
                    <div class="widget-slider-dots intec-content intec-content-visible"
                         data-role="container.dots"></div>
                </div>
            </div>
        </div>
    </div>
</div>
