<div class="basket-empty">
    <div class="basket-empty-picture">
        <img alt="empty basket"
             src="{{ theme_url }}/img/empty_basket.png"/>
    </div>
    <div class="basket-empty-title">
        {{ config.basket.empty_title|raw }}
    </div>
    <div class="basket-empty-description">
        {{ config.basket.empty_text|raw }}
    </div>
    <div class="basket-empty-button" style="margin-bottom: 50px">
        <a class="intec-ui intec-ui-control-button intec-ui-size-5 intec-ui-mod-round-4 intec-ui-scheme-current"
           href="/">
            {{ config.basket.empty_btn }}
        </a></div>
</div>