{% set basket = session.basket %}
{% set basketCount = basket|length %}
{% set phone_clean_replacement={' ':'', '(':'', ')':'', '-':''} %}

<div class="ns-intec-universe c-sale-basket-small c-sale-basket-small-template-2"
     id="i-4-intec-universe-sale-basket-small-template-2-gnX3eXc-Vj5u">
    <div class="sale-basket-small-content">
        <div class="sale-basket-small-switches" data-role="switches">
            <div class="sale-basket-small-switch intec-cl-text-hover intec-cl-text-active"
                 data-active="false"
                 data-role="switch"
                 data-tab="basket">
                <div class="sale-basket-small-switch-wrapper">
                    <i class="icon-basket glyph-icon-cart"></i>
                    {% if basketCount %}
                        <div class="sale-basket-small-switch-count intec-cl-background-dark">{{ basketCount }}</div>
                    {% endif %}
                </div>
            </div>
            <div class="sale-basket-small-switch intec-cl-text-hover intec-cl-text-active" data-tab="form" onclick="window.BinotelGetCall[50475].openPassiveForm()">
                <i class="icon-phone glyph-icon-phone"></i>
            </div>
            <a class="sale-basket-small-switch intec-cl-text-hover intec-cl-text-active" data-tab="form" href="https://wa.me/{{ config.phone|replace(phone_clean_replacement) }}" target="_blank">
                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                    <g>
                        <g>
                            <path d="M256.064,0h-0.128C114.784,0,0,114.816,0,256c0,56,18.048,107.904,48.736,150.048l-31.904,95.104l98.4-31.456
                                C155.712,496.512,204,512,256.064,512C397.216,512,512,397.152,512,256S397.216,0,256.064,0z M405.024,361.504
                                c-6.176,17.44-30.688,31.904-50.24,36.128c-13.376,2.848-30.848,5.12-89.664-19.264C189.888,347.2,141.44,270.752,137.664,265.792
                                c-3.616-4.96-30.4-40.48-30.4-77.216s18.656-54.624,26.176-62.304c6.176-6.304,16.384-9.184,26.176-9.184
                                c3.168,0,6.016,0.16,8.576,0.288c7.52,0.32,11.296,0.768,16.256,12.64c6.176,14.88,21.216,51.616,23.008,55.392
                                c1.824,3.776,3.648,8.896,1.088,13.856c-2.4,5.12-4.512,7.392-8.288,11.744c-3.776,4.352-7.36,7.68-11.136,12.352
                                c-3.456,4.064-7.36,8.416-3.008,15.936c4.352,7.36,19.392,31.904,41.536,51.616c28.576,25.44,51.744,33.568,60.032,37.024
                                c6.176,2.56,13.536,1.952,18.048-2.848c5.728-6.176,12.8-16.416,20-26.496c5.12-7.232,11.584-8.128,18.368-5.568
                                c6.912,2.4,43.488,20.48,51.008,24.224c7.52,3.776,12.48,5.568,14.304,8.736C411.2,329.152,411.2,344.032,405.024,361.504z"/>
                        </g>
                    </g>
                </svg>
            </a>
        </div>

        <div class="sale-basket-small-overlay" data-role="overlay"
        ></div>

        {% if basketCount %}

            <div class="sale-basket-small-tabs sale-basket-small-popup" data-role="tabs">
                <div class="sale-basket-small-tab sale-basket-small-tab-basket" data-role="tab" data-tab="basket"
                     data-active="false">
                    <div class="sale-basket-small-tab-wrapper">
                        <div class="sale-basket-small-header">
                            <div class="intec-grid intec-grid-nowrap intec-grid-a-v-center">
                                <div class="sale-basket-small-header-text intec-grid-item">
                                    {{ config.basket.title }}
                                    <span class="sale-basket-small-header-count">
                                    {{ basketCount }}
                                        {% if basketCount == 1 %}
                                            {{ config.basket.product_plurals[0] }}
                                        {% elseif basketCount >=2 and basketCount <= 4 %}
                                            {{ config.basket.product_plurals[1] }}
                                        {% else %}
                                            {{ config.basket.product_plurals[2] }}
                                        {% endif %}
                                    </span>
                                </div>
                                {#<div class="intec-grid-item-auto">
                                    <div data-role="button" data-action="basket.clear"
                                         class="sale-basket-small-header-clear intec-button intec-cl-background-hover intec-cl-border-hover intec-button-md intec-button-w-icon">
                                        <i class="fal fa-times"></i>
                                        <span class="intec-button-text">
                                                {{ config.basket.clear_btn }}
                                        </span>
                                    </div>
                                </div>#}
                                <div class="sale-basket-small-header-btn-close-wrap intec-grid-item-auto">
                                    <div class="sale-basket-small-header-btn-close" data-role="button"
                                         data-action="close">
                                        <i class="fal fa-times intec-cl-text-hover"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sale-basket-small-body">
                            <div class="sale-basket-small-products-wrap">
                                <div class="sale-basket-small-products">
                                    {% set total = 0 %}
                                    {% for product_ids, quantity in basket %}
                                        {% set ids = product_ids|split('_') %}
                                        {% set product_id = ids[0] %}
                                        {% set modifier_ids = ids|slice(1) %}
                                        {% set price = iiko.products[product_id].price %}
                                        {% if modifier_ids %}
                                            {% for modifier_id in modifier_ids %}
                                                {% set price = price + iiko.products[modifier_id].price %}
                                            {% endfor %}
                                        {% endif %}
                                        <div class="sale-basket-small-product" data-role="product" data-id="{{ product_ids }}">
                                            <div class="intec-grid intec-grid-nowrap intec-grid-a-v-stretch">
                                                <div class="intec-grid-item-auto">
                                                    <div class="sale-basket-small-product-image-wrapper">
                                                        <span>
                                                            {% set imgObj  = iiko.products[product_id].images[0] %}
                                                            {% if imgObj %}
                                                                {% set img = img_resize(imgObj.imageId,imgObj.imageUrl, 'preview') %}
                                                            {% else %}
                                                                {% set img = config.products.items[product_id].img|default(config.placeholder_img) %}
                                                            {% endif %}
                                                            <span class="sale-basket-small-product-image"
                                                                  style="background-image: url({{ img }});">
                                                            </span>
                                                        </span>
                                                        <div class="sale-basket-small-product-icon-delete intec-cl-backgroud-hover">
                                                            <i class="far fa-times"></i>
                                                        </div>

                                                        <div class="sale-basket-small-product-icon-delete intec-cl-backgroud-hover"
                                                             title="" data-role="button" data-action="product.remove"><i
                                                                    class="glyph-icon-cancel"></i>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="sale-basket-small-product-content intec-grid-item">
                                                    <div class="sale-basket-small-product-name-wrap">
                                                        <span class="sale-basket-small-product-name intec-cl-text-hover">
                                                            {{ iiko.products[product_id].name }}
                                                            {% if modifier_ids %}
                                                                {% set props = [] %}
                                                                {% for modifier_id in modifier_ids %}
                                                                    {% set props = props|merge([iiko.products[modifier_id].name]) %}
                                                                {% endfor %}
                                                                ({{ props|join(', ') }})
                                                            {% endif %}
                                                        </span>
                                                    </div>
                                                    <div class="sale-basket-small-product-column-price">
                                                        <span class="sale-basket-small-product-new-price">
                                                            {{ price }} {{ config.currency_symbol }}
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="intec-grid-item-auto">
                                                    <div class="sale-basket-small-product-quantity">
                                                        <div class="sale-basket-small-product-quantity-wrapper intec-no-select"
                                                             data-role="counter"
                                                             data-settings="{{ {'bounds':{'minimum':1,'maximum':false},'step':1,'value': quantity}|json_encode }}">
                                                            <div data-type="button" data-action="increment"
                                                                 class="sale-basket-small-product-quantity-up intec-cl-text-hover">
                                                                <div class="intec-aligner"></div>
                                                                <i class="far fa-plus"></i>
                                                            </div>
                                                            <input type="text" data-type="input" readonly
                                                                   class="intec-input sale-basket-small-product-quantity-value"
                                                                   value="{{ quantity }}">

                                                            {% if quantity == 1 %}
                                                                <div data-role="button" data-action="product.remove"
                                                                     class="sale-basket-small-product-remove intec-cl-text-hover">
                                                                    <div class="intec-aligner"></div>
                                                                    <i class="far fa-times"></i>
                                                                </div>
                                                            {% else %}
                                                                <div data-type="button" data-action="decrement" class="sale-basket-small-product-quantity-down intec-cl-text-hover">
                                                                    <div class="intec-aligner"></div>
                                                                    <i class="far fa-minus"></i>
                                                                </div>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% set total = total + (price * quantity) %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="sale-basket-small-footer-wrap">
                            <div class="sale-basket-small-footer">
                                <div class="intec-grid intec-grid-nowrap intec-grid-a-v-center">
                                    <div class="sale-basket-small-footer-sum intec-grid-item">
                                        <div class="sale-basket-small-footer-sum-title">
                                            {{ config.basket.total }}
                                        </div>
                                        <div class="sale-basket-small-footer-sum-wrapper">
                                                <span class="sale-basket-small-footer-new-sum">
                                                    {{ total }} {{ config.currency_symbol }}                                            </span>
                                        </div>
                                        <div class="sale-basket-small-footer-sum-economy">
                                        </div>
                                    </div>
                                    <div class="sale-basket-small-footer-buttons intec-grid-item-auto">
                                        <a href="/order"
                                           class="sale-basket-small-footer-order-button intec-button intec-button-cl-common intec-button-md">
                                            {{ config.basket.create_order_btn }}
                                        </a>
                                        <!--<div>
                                            <a href="/cart "
                                               class="sale-basket-small-footer-additional-button intec-cl-text intec-cl-text-light-hover">
                                                {{ config.basket.go_to_basket_page_btn }}
                                            </a>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                            {% if config.payment_methods %}
                                <div class="sale-basket-small-pay-system">
                                    <div class="sale-basket-small-pay-system-wrapper intec-grid intec-grid-nowrap intec-grid-a-v-center">
                                        {% for payment_method in config.basket.payment_methods %}
                                            <div class="sale-basket-small-pay-system-item intec-grid-item">
                                                <img src="{{ assets_url }}/img/{{ payment_method }}.png"
                                                     alt="" title="">
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

        {% else %}

            <div class="sale-basket-small-tabs sale-basket-small-popup" data-role="tabs">
                <div class="sale-basket-small-tab sale-basket-small-tab-basket"
                     data-active="false" data-role="tab" data-tab="basket">
                    <div class="sale-basket-small-empty-basket-wrap">
                        <div class="intec-aligner"></div>
                        <div class="sale-basket-small-empty-basket">
                            <div class="sale-basket-small-empty-basket-image">
                                <img alt="empty basket"
                                     src="{{ theme_url }}/img/empty_basket.png"/>
                            </div>
                            <div class="sale-basket-small-empty-basket-title">
                                {{ config.basket.empty_title|raw }}
                            </div>
                            <div class="sale-basket-small-empty-basket-text">
                                {{ config.basket.empty_text|raw }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="sale-basket-small-tab sale-basket-small-tab-personal-area"
                     data-active="false" data-tab="personal">
                    <div class="sale-basket-small-tab-wrapper">
                        <div class="sale-basket-small-tab-content" data-area="personal"
                             data-role="area"></div>
                    </div>
                </div>
            </div>

        {% endif %}
    </div>
</div>