<div class="container-4" style="opacity: 1;">
    <div class="container-7" style="opacity: 1;">
        <div class="container-8" style="opacity: 1;">

            {% include '_partials/basket_overlay_content.twig' %}

        </div>
    </div>
</div>