{% set basket = session.basket %}
{% set basketCount = basket|length %}

<div id="i-6-intec-universe-sale-basket-small-panel-1-rV0l0WXgSyb7"
     class="ns-intec-universe c-sale-basket-small c-sale-basket-small-panel-1">
    <!--noindex-->
    <div class="sale-basket-small-panel intec-content-wrap"
         data-role="panel">
        <div class="sale-basket-small-panel-wrapper intec-grid intec-grid-nowrap">
            <a class="sale-basket-small-panel-button intec-grid-item"
               href="/order">
                <div class="sale-basket-small-panel-button-wrapper">
                    <div class="sale-basket-small-panel-button-icon-wrap">
                        <div class="intec-aligner"></div>
                        <div class="sale-basket-small-panel-button-icon">
                            <svg width="24" height="26" viewBox="0 0 24 26"
                                 fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M17.2631 13.0339H8.90819L5.8923 4.60868H22.7309L20.0387 11.1724C19.5768 12.2985 18.4803 13.0339 17.2631 13.0339Z"
                                      fill="#fff" class="active"></path>
                                <path d="M1.67419 1.44922H4.05716C4.47951 1.44922 4.85632 1.71456 4.99866 2.1122L5.8923 4.60868M8.90819 13.0339H17.2631C18.4803 13.0339 19.5768 12.2985 20.0387 11.1724L22.7309 4.60868H5.8923M8.90819 13.0339L5.8923 4.60868M8.90819 13.0339C8.90819 13.0339 5.7285 12.953 5.7285 15.3048C5.7285 17.6566 8.90819 17.4111 8.90819 17.4111H20.6904"
                                      stroke="#333333" stroke-width="2"
                                      stroke-linecap="round"
                                      stroke-linejoin="round"></path>
                                <circle cx="8.41481" cy="22.6223" r="2.1921"
                                        stroke="#333333"
                                        stroke-width="2"></circle>
                                <circle cx="17.9156" cy="22.6223" r="2.1921"
                                        stroke="#333333"
                                        stroke-width="2"></circle>
                            </svg>
                        </div>
                    </div>
                    {% if basketCount %}
                        <div class="sale-basket-small-panel-button-counter intec-cl-background">{{ basketCount }}</div>
                    {% endif %}
                </div>
            </a>
        </div>
    </div>
    <!--/noindex-->
</div>