<div class="container-45 intec-template-breadcrumb" >
    <div id="J_NfpQ0q" class="ns-bitrix c-breadcrumb c-breadcrumb-default">
        <div class="breadcrumb-wrapper intec-content intec-content-visible">
            <div class="breadcrumb-wrapper-2 intec-content-wrapper" itemscope=""
                 itemtype="http://schema.org/BreadcrumbList">
                <div class="breadcrumb-item" data-control="item" itemprop="itemListElement" itemscope=""
                     itemtype="http://schema.org/ListItem">
                    <a href="/" title="Главная" data-control="link" class="breadcrumb-link intec-cl-text-hover"
                       itemprop="item">
                        <span itemprop="name">Главная</span>
                        <meta itemprop="position" content="1">
                    </a></div>
                <span class="breadcrumb-separator">/</span>
                <div class="breadcrumb-item" data-control="item" itemprop="itemListElement" itemscope=""
                     itemtype="http://schema.org/ListItem">
                    <a href="{{ url }}" title="{{ current_page.title }}" data-control="link"
                       class="breadcrumb-link intec-cl-text-hover" itemprop="item">
                        <span itemprop="name">{{ current_page.title }}</span>
                        <meta itemprop="position" content="2">
                    </a></div>
            </div>
        </div>
    </div>
</div>