<div class="container-287 intec-template-footer" style="opacity: 1;">
    <div class="container-288" style="opacity: 1;">
        <div class="container-16" style="opacity: 1;">
            <div class="container-25" style="opacity: 1;">
                <div class="widget c-footer c-footer-template-1"
                     data-theme="dark" id="i-27-intec-universe-main-footer-template-1-m71abLTUTSkt">
                    <div class="widget-content">
                        <div class="widget-view">
                            <div class="widget-view-5 intec-content-wrap">
                                <div class="widget-wrapper intec-content">
                                    <div class="widget-wrapper-2 intec-content-wrapper">
                                        <div class="widget-parts intec-grid intec-grid-nowrap intec-grid-a-h-start intec-grid-a-v-start intec-grid-768-wrap">
                                            <div class="widget-part widget-part-left intec-grid-item intec-grid-item-768-1">
                                                <div class="ns-bitrix c-menu c-menu-columns-1"
                                                     id="i-28-bitrix-menu-columns-1-mKUqxKGMvHpP">
                                                    <div class="menu-columns intec-grid intec-grid-wrap intec-grid-a-h-start intec-grid-a-v-start intec-grid-i-h-10 intec-grid-i-v-20">
                                                        {% for menu_item in config.bottom_menu %}
                                                            {% if menu_item.catalog %}

                                                                <div class="menu-column intec-grid-item intec-grid-item-550-1"
                                                                     data-active="false" data-selected="false">
                                                                    <div class="menu-column-header intec-cl-text">
                                                                        <span class="menu-column-header-link">{{ menu_item.title }}</span>
                                                                    </div>
                                                                    <div class="menu-column-items">
                                                                        {% for group in iiko.groups %}
                                                                            {% if group.isIncludedInMenu %}
                                                                            <div class="menu-column-item" data-active="false"
                                                                                 data-selected="false"><a
                                                                                        class="menu-column-item-link intec-cl-text-hover"
                                                                                        href="{% if current_page.id != 'index' %}/{% endif %}#section-{{ group.id }}" style="text-transform: capitalize">{{ group.name }}</a>
                                                                            </div>
                                                                            {% endif %}
                                                                        {% endfor %}
                                                                    </div>
                                                                </div>
                                                            {% else %}

                                                                <div class="menu-column intec-grid-item intec-grid-item-550-1"
                                                                     data-active="false" data-selected="false">
                                                                    <div class="menu-column-header intec-cl-text">
                                                                        <span class="menu-column-header-link" >{{ menu_item.title }}</span>
                                                                    </div>
                                                                    <div class="menu-column-items">
                                                                        {% for menu_item in menu_item.items %}
                                                                            <div class="menu-column-item" data-active="false"
                                                                                 data-selected="false"><a
                                                                                        class="menu-column-item-link intec-cl-text-hover"
                                                                                        href="{% if current_page.id != 'index' %}/{% endif %}{{ menu_item.url }}">{{ menu_item.title }}</a></div>
                                                                        {% endfor %}
                                                                    </div>
                                                                </div>
                                                            {% endif %}

                                                        {% endfor %}
                                                     </div>
                                                </div>
                                            </div>
                                            <div class="widget-part widget-part-right intec-grid-item-auto intec-grid-item-768-1">
                                                <div class="widget-part-items intec-grid intec-grid-wrap intec-grid-a-h-start intec-grid-a-v-center">
                                                    <div class="widget-part-item widget-email intec-grid-item-2 intec-grid-item-550-1">
                                                <span class="widget-part-item-icon">
                                                    <i class="fas fa-envelope"></i>
                                                </span>
                                                        <a class="widget-part-item-text"
                                                           href="mailto:{{ config.terminals.items[currentTerminalId].email|default(config.email) }}">
                                                            {{ config.terminals.items[currentTerminalId].email|default(config.email) }} </a>
                                                    </div>
                                                    <div class="widget-part-item widget-phone intec-grid-item-2 intec-grid-item-550-1">
                                                <span class="widget-part-item-icon">
                                                    <i class="fas fa-phone"></i>
                                                </span>
                                                        <a class="widget-part-item-text"
                                                           href="tel:{{ (config.terminals.items[currentTerminalId].phone|replace(phone_clean_replacement)|default(config.phone|replace(phone_clean_replacement))) }}">
                                                            {{ config.terminals.items[currentTerminalId].phone|default(config.phone) }} </a>
                                                    </div>
                                                    <div class="widget-part-item widget-address intec-grid-item-2 intec-grid-item-550-1">
                                                <span class="widget-part-item-icon">
                                                    <i class="fas fa-map-marker-alt"></i>
                                                </span>
                                                        <span class="widget-part-item-text">
                                                            {{ iiko.deliveryTerminals[currentTerminalId].address }}
                                                        </span>
                                                    </div>

                                                    <div class="widget-part-item widget-form intec-grid-item-2 intec-grid-item-550-1" onclick="window.BinotelGetCall[50475].openPassiveForm()">
                                                        <div class="intec-ui intec-ui-control-button intec-ui-mod-round-3 intec-ui-scheme-current intec-ui-size-3">Заказать звонок</div></div>


                                                    {% if config.terminals.items[currentTerminalId].social %}
                                                        <div class="widget-part-item widget-form intec-grid-item-2 intec-grid-item-550-1">
                                                            <!--noindex-->
                                                            <div class="widget-social">
                                                                <div class="widget-social-items">
                                                                    {% for name, url in config.terminals.items[currentTerminalId].social %}
                                                                        {% if url %}
                                                                            <div class="widget-social-item">
                                                                                <a class="widget-social-item-icon glyph-icon-{{ name }}" href="{{ url }}" rel="nofollow"></a>
                                                                            </div>
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% endif %}

                                                </div>
                                            </div>
                                        </div>
                                    <div class="widget-panel">
                                        <div class="widget-panel-items intec-grid intec-grid-nowrap intec-grid-a-h-start intec-grid-a-v-center intec-grid-768-wrap">
                                            <div class="widget-panel-item intec-grid-item intec-grid-item-768-1">
                                                <div class="widget-copyright">
                                                    &copy; {{ "now"|date("Y") }} {{ site_title }}{{ config.copyright }}
                                                </div>
                                            </div>

                                            <!--/noindex-->
                                            <div class="widget-panel-item intec-grid-item intec-grid-item-768-1">
                                                {% if config.payment_methods %}
                                                        <div class="widget-icons intec-grid intec-grid-wrap intec-grid-a-h-end intec-grid-a-h-768-center intec-grid-a-v-center intec-grid-i-8">
                                                            {% for payment_method in config.payment_methods %}
                                                                <div class="widget-icon intec-grid-item-auto"
                                                                     data-icon="{{ payment_method }}">
                                                                    <div class="widget-icon-image"></div>
                                                                </div>
                                                            {% endfor %}
                                                        </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
