<div class="container-15" style="opacity: 1; background-size: auto;">
    <div id="i-6-intec-universe-main-header-template-1-dZcvT5yLZEp0"
         class="widget {% if current_page.id == 'index' %} widget-transparent {% endif %} c-header c-header-template-1" data-transparent="true" data-color="white">
        <div class="widget-content">
            <div class="widget-view widget-view-desktop">
                <div class="widget-view-desktop-8">
                    <div class="widget-wrapper">
                        <div class="widget-wrapper-2 intec-grid intec-grid-nowrap intec-grid-a-v-center intec-grid-i-h-18">
                            <div class="widget-logotype-wrap intec-grid-item-auto">
                                <div class="widget-item widget-logotype intec-image">
                                    <div class="intec-aligner"></div>
                                    <div class="logo-wrapper logo-wrapper-menu">
                                        <a href="/">
                                        <img src="{{ config.terminals.items[currentTerminalId].logo }}"
                                             alt="{{ config.terminals.items[currentTerminalId].site_title }}"
                                             title="{{ config.terminals.items[currentTerminalId].site_title }}"
                                             style="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="widget-menu-wrap-2 intec-grid-item">
                                <div class="widget-menu-wrap-1 intec-grid intec-grid-nowrap intec-grid-a-v-center intec-grid-i-h-18">
                                    <div class="intec-grid-item"></div>
                                    <div class="widget-region-wrap intec-grid-item-auto">
                                        <!--noindex-->
                                        <div class="widget-region">
                                            <div class="widget-region-icon intec-grid-item-auto intec-cl-svg-path-stroke">
                                                <svg width="12" height="12" viewBox="0 0 12 12" fill="none"
                                                     xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M7.38365 10.7348L10.4301 2.51553C10.6536 1.91253 10.0664 1.32528 9.4634 1.54878L1.2404 4.59753C0.547396 4.85478 0.602146 5.85228 1.3184 6.03228L5.0234 6.96303L5.94815 10.656C6.12815 11.373 7.1264 11.4278 7.38365 10.7348V10.7348Z"
                                                          stroke="#0065FF" stroke-width="1.2" stroke-linecap="round"
                                                          stroke-linejoin="round"></path>
                                                </svg>
                                            </div>
                                            <div class="widget-region-text">
                                                <!--'start_frame_cache_955d9O'-->
                                                <div id="i-9-intec-regionality-regions-select-default-b7WAH1g6DqWX"
                                                     class="ns-intec-regionality c-regions-select c-regions-select-template-1">
                                                    <div class="regions-select-region intec-grid intec-grid-nowrap intec-grid-a-v-center intec-grid-i-h-1 intec-cl-text-light-hover"
                                                         data-role="select">
                                                            <span class="regions-select-region-text intec-grid-item-auto">{{ iiko.deliveryTerminals[currentTerminalId].deliveryRestaurantName }}</span>
                                                            <span class="regions-select-region-icon intec-grid-item-auto"><i class="far fa-chevron-down"></i></span>
                                                    </div>
                                                    <div class="regions-select-dialog"
                                                         data-role="dialog">
                                                        <div class="regions-select-dialog-window">
                                                            <div class="regions-select-dialog-window-content">
                                                                <div class="regions-select-dialog-regions scrollbar-inner"
                                                                     data-role="dialog.regions">
                                                                    {% for terminal in iiko.deliveryTerminals %}
                                                                        {% if (terminal.deliveryTerminalId != currentTerminalId) %}
                                                                            <div class="regions-select-dialog-region"
                                                                                 data-id="{{ terminal.deliveryTerminalId }}"
                                                                                 data-role="dialog.region">
                                                                                <a href="/set_terminal_id.php?region={{ terminal.deliveryTerminalId }}"
                                                                                   class="regions-select-dialog-region-selector intec-cl-text-hover"
                                                                                   data-role="dialog.region.selector">
                                                                                    {{ terminal.deliveryRestaurantName }}
                                                                                </a>
                                                                            </div>
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {% if not session.terminalId %}
                                                        <div class="regions-select-question"
                                                             data-region="{{ config.default_terminal_id }}"
                                                             data-role="question">
                                                            <div class="regions-select-question-title-wrap">
                                                                <div class="regions-select-question-title">
                                                                    {{ config.sections.region_select.title }}
                                                                </div>
                                                                <div class="regions-select-question-name">
                                                                    {{ iiko.deliveryTerminals[config.default_terminal_id].deliveryRestaurantName }}
                                                                </div>
                                                            </div>
                                                            <div class="regions-select-question-buttons">
                                                                <button class="regions-select-question-button intec-cl-background intec-cl-background-light-hover"
                                                                        data-role="question.yes">
                                                                    {{ config.sections.region_select.confirm }}

                                                                </button>
                                                                <button class="regions-select-question-button"
                                                                        data-role="question.no">
                                                                    {{ config.sections.region_select.cancel }}
                                                                </button>
                                                            </div>
                                                            <div class="regions-select-question-close"
                                                                 data-role="question.close">
                                                                <i class="fal fa-times intec-cl-text-hover"></i>
                                                            </div>
                                                        </div>
                                                    {% endif %}

                                                </div>
                                                <!--'end_frame_cache_955d9O'-->
                                            </div>
                                        </div>
                                        <!--/noindex-->
                                    </div>
                                    <div class="widget-contacts-wrap intec-grid-item-auto">
                                        <div class="widget-item widget-contacts" data-multiple="true"
                                             data-expanded="false" data-block="phone">
                                            <div class="widget-phone">
                                                <div class="widget-phone-content">
                                                    <a href="tel:{{ config.phone|replace(phone_clean_replacement) }}"
                                                       class="widget-phone-text intec-cl-text-hover"
                                                       data-block-action="popup.open">
                                                        {{ config.phone }} </a>
                                                    <div class="widget-phone-popup" data-block-element="popup">
                                                        <div class="widget-phone-popup-wrapper" data-advanced="true">
                                                            <div class="widget-phone-popup-contacts">
                                                                <a href="tel:{{ config.phone|replace(phone_clean_replacement) }}"
                                                                   class="widget-phone-popup-contact phone intec-cl-text-hover">
                                                                    {{ config.phone }} </a>
                                                                <div class="widget-phone-popup-contact address">
                                                                    {{ iiko.deliveryTerminals[currentTerminalId].address }}
                                                                </div>
                                                                <div class="widget-container-phone-popup-contact schedule">
                                                                    {% if iiko.deliveryTerminals[currentTerminalId].openingHours %}
                                                                        {% for openingHours in iiko.deliveryTerminals[currentTerminalId].openingHours %}
                                                                            <span>{{ openingHours }}</span><br>
                                                                        {% endfor %}
                                                                    {% else %}
                                                                        <span>{{ config.default_working_hours }}</span>
                                                                    {% endif %}
                                                                </div>
                                                                <a href="mailto:{{ config.email }}"
                                                                   class="widget-phone-popup-contact email intec-cl-text-hover">
                                                                    {{ config.email }} </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="widget-phone-arrow far fa-chevron-down"
                                                     data-block-action="popup.open"></div>
                                            </div>
                                            <div class="widget-email-wrap">
                                                <div class="widget-email">
                                                    <a href="{{ config.email }}"
                                                       class="widget-email-text intec-cl-text-hover">
                                                        {{ config.email }} </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="widget-button-wrap intec-grid-item-auto">
                                        <a class="widget-button intec-ui intec-ui-control-button intec-ui-scheme-current" onclick="window.BinotelGetCall[50475].openPassiveForm()">Заказать звонок
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="widget-menu-wrap intec-grid-item-auto">
                                <div class="widget-item widget-menu">
                                    <div id="i-8-bitrix-menu-popup-3-LkGdQnW4WHwB"
                                         class="ns-bitrix c-menu c-menu-popup-3" data-theme="light">
                                        <div class="menu-button intec-cl-text-hover" data-action="menu.open">
                                            <i class="menu-button-icon glyph-icon-menu-icon"></i>
                                        </div>
                                        <div class="menu" data-role="menu">
                                            <div class="menu-wrapper intec-content intec-content-primary">
                                                <div class="menu-wrapper-2 intec-content-wrapper">
                                                    <div class="menu-panel">
                                                        <div class="menu-panel-wrapper intec-grid intec-grid-nowrap intec-grid-i-h-10 intec-grid-a-v-center">
                                                            <div class="menu-panel-logotype-wrap intec-grid-item-auto">
                                                                <div class="menu-panel-logotype">
                                                                    <div class="intec-aligner"></div>
                                                                    <div class="logo-wrapper logo-wrapper-main-navbar">
                                                                        <img src="{{ config.terminals.items[currentTerminalId].logo }}"
                                                                             alt="{{ config.terminals.items[currentTerminalId].site_title }}"
                                                                             title="{{ config.terminals.items[currentTerminalId].site_title }}"
                                                                             style="">
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="intec-grid-item"></div>

                                                            <div class="intec-grid-item-4">
                                                                <div class="intec-grid intec-grid-a-h-between intec-grid-a-v-center">
                                                                    <div class="menu-panel-contact-wrap intec-grid-item-auto">
                                                                        <a class="menu-panel-contact"
                                                                           href="tel:{{ config.phone|replace(phone_clean_replacement) }}">
                                                                            <i class="icon-phone glyph-icon-phone intec-cl-text"></i>
                                                                            <span>{{ config.phone }}</span>
                                                                        </a>
                                                                        <div class="menu-panel-call-wrap">
                                                                            <a onclick="window.BinotelGetCall[50475].openPassiveForm()" class="menu-panel-call intec-cl-text-hover intec-cl-border-hover">Заказать звонок</a>
                                                                        </div>
                                                                    </div>
                                                                    <div class="menu-panel-button-wrap intec-grid-item-auto">
                                                                        <div class="menu-panel-button intec-cl-text-hover"
                                                                             data-action="menu.close">
                                                                            <i class="glyph-icon-cancel"></i>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {% include '_partials/top_menu.twig' %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="widget-overlay" data-role="overlay-desktop"></div>
            <div class="widget-view widget-view-fixed" style="top: -63px;">
                <div class="widget-view-fixed-1">
                    <div class="widget-wrapper intec-content intec-content-visible intec-content-primary">
                        <div class="widget-wrapper-2 intec-content-wrapper">
                            <div class="widget-wrapper-3 intec-grid intec-grid-nowrap intec-grid-i-h-20 intec-grid-a-v-center">
                                <div class="widget-menu-popup-wrap intec-grid-item-auto">
                                    <div class="widget-menu-popup">
                                        <div id="i-12-bitrix-menu-popup-3-XEVOpkwAkIZ0"
                                             class="ns-bitrix c-menu c-menu-popup-3" data-theme="light">
                                            <div class="menu-button intec-cl-text-hover" data-action="menu.open">
                                                <i class="menu-button-icon glyph-icon-menu-icon"></i>
                                            </div>
                                            <div class="menu" data-role="menu">
                                                <div class="menu-wrapper intec-content intec-content-primary">
                                                    <div class="menu-wrapper-2 intec-content-wrapper">
                                                        <div class="menu-panel">
                                                            <div class="menu-panel-wrapper intec-grid intec-grid-nowrap intec-grid-i-h-10 intec-grid-a-v-center">
                                                                <div class="menu-panel-logotype-wrap intec-grid-item-auto">
                                                                    <div class="menu-panel-logotype intec-image">
                                                                        <div class="intec-aligner"></div>
                                                                        <div class="logo-wrapper logo-wrapper-menu">
                                                                            <img src="{{ config.terminals.items[currentTerminalId].logo }}"
                                                                                 alt="{{ config.terminals.items[currentTerminalId].site_title }}"
                                                                                 title="{{ config.terminals.items[currentTerminalId].site_title }}"
                                                                                 style="">
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="intec-grid-item"></div>

                                                                <div class="intec-grid-item-4">
                                                                    <div class="intec-grid intec-grid-a-h-between intec-grid-a-v-center">
                                                                        <div class="menu-panel-contact-wrap intec-grid-item-auto">
                                                                            <a class="menu-panel-contact"
                                                                               href="tel:{{ config.phone|replace(phone_clean_replacement) }}">
                                                                                <i class="icon-phone glyph-icon-phone intec-cl-text"></i>
                                                                                <span>{{ config.phone }}</span>
                                                                            </a>
                                                                            <div class="menu-panel-call-wrap">
                                                                                <span class="menu-panel-call intec-cl-text-hover intec-cl-border-hover"
                                                                                      data-role="forms.button"
                                                                                      data-action="call.open">Заказать звонок</span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="menu-panel-button-wrap intec-grid-item-auto">
                                                                            <div class="menu-panel-button intec-cl-text-hover"
                                                                                 data-action="menu.close">
                                                                                <i class="glyph-icon-cancel"></i>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        {% include '_partials/top_menu.twig' %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="widget-logotype-wrap intec-grid-item-auto">
                                    <div class="widget-item widget-logotype intec-image">
                                        <div class="intec-aligner"></div>
                                        <div class="logo-wrapper logo-wrapper-menu-fixed">
                                            <img src="{{ config.terminals.items[currentTerminalId].logo }}"
                                                 alt="{{ config.terminals.items[currentTerminalId].site_title }}"
                                                 title="{{ config.terminals.items[currentTerminalId].site_title }}"
                                                 style="">
                                        </div>
                                    </div>
                                </div>
                                {% include '_partials/top_menu_fixed.twig' %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="widget-overlay" data-role="overlay-fixed"></div>
            </div>
            {% include '_partials/top_menu_mobile.twig' %}


            {% if current_page.id == 'index' %}

                {% include '_partials/banner.twig' %}

            {% endif %}
        </div>
    </div>
</div>
