<script type="text/javascript">
    (function () {
        universe.site.id = 's1';
        universe.site.directory = '/';
        universe.template.id = 'food_s1';
        universe.template.directory = '/bitrix/templates/food_s1';
    })();
</script>

<script type="text/javascript">
    (function ($, api) {
        var root = $('#i-1-custom-system-variation-solutions-qf7GHREpfMc2');
        var scrollbar = $('[data-role="scrollbar"]', root);
        var overlay = $('[data-role="overlay"]', root);
        var buttonSwitch = $('[data-role="switch"]', root);
        var form;
        form = $('[data-role="form"]', root);

        scrollbar.scrollbar();

        buttonSwitch.on('click', function () {
            root.toggle(true);
        });

        root.toggle = function (animate) {
            if (root.expanded) {
                root.close(animate);
            } else {
                root.open(animate);
            }
        };
        overlay.on('click', function () {
            root.close(true);
        });

        root.expanded = root.data('expanded');

        root.expanded = root.data('expanded');

        root.open = function (animate) {
            $('.admin_demo').hide();
            if (root.expanded)
                return;

            root.expanded = true;
            overlay.css('visibility', 'visible');
            root.attr('data-expanded', 'true');

            if (animate) {
                form.css('visibility', 'visible');
                form.stop().animate({
                    'left': 0
                }, 650);
            } else {
                form.stop().css({
                    'left': 0,
                    'visibility': 'visible'
                });
            }
        };

        root.close = function (animate) {

            if (!root.expanded)
                return;

            root.expanded = false;
            root.attr('data-expanded', 'false');

            if (animate) {
                var left = {
                    'current': form.css('left'),
                    'new': form.css('left', '').css('left')
                };

                form.css('left', left.current);
                form.stop().animate({
                    'left': left.new
                }, 650, function () {
                    overlay.css('visibility', '');
                    form.css({
                        'left': '',
                        'visibility': ''
                    });
                });
            } else {
                overlay.css('visibility', '');
                form.stop().css({
                    'left': '',
                    'visibility': ''
                });
            }
            $('.admin_demo').show();
        };


    })(jQuery, intec)
</script>
<script type="text/javascript">
    (function (jQuery, api) {
        var data;
        var run;
        var update;

        data = {};
        data.basket = [];
        data.compare = [];

        run = function () {
            $('[data-basket-id]').attr('data-basket-state', 'none');
            $('[data-compare-id]').attr('data-compare-state', 'none');

            api.each(data.basket, function (index, item) {
                $('[data-basket-id=' + item.id + ']').attr('data-basket-state', item.delay ? 'delayed' : 'added');
            });

            api.each(data.compare, function (index, item) {
                $('[data-compare-id=' + item.id + ']').attr('data-compare-state', 'added');
            });
        };

        update = function () {
            $.ajax('/ajax_basket_json.php', {
                'type': 'POST',
                'cache': false,
                'dataType': 'json',
                'data': {
                    'BASKET': 'Y',
                    'COMPARE': 'Y',
                    'COMPARE_CODE': 'compare',
                    'COMPARE_NAME': 'compare',
                    'CACHE_TYPE': 'N',
                    '~BASKET': 'Y',
                    '~COMPARE': 'Y',
                    '~COMPARE_NAME': 'compare',
                    '~CACHE_TYPE': 'N'
                },
                'success': function (response) {
                    setTimeout(function(){
                        data = response;
                        run();
                    }, 500);
                }
            })
        };

        update();

        $(document).on('click', '[data-basket-id][data-basket-action]', function () {
            if ($(this).attr('disabled') == 'disabled') {
                return;
            }
            var node = $(this);
            var id = node.data('basketId');
            var action = node.data('basketAction');
            var quantity = node.data('basketQuantity');
            var price = node.data('basketPrice');
            var data = node.data('basketData');

            if (id == null)
                return;

            if (action === 'add') {
                $('[data-basket-id=' + id + ']').attr('data-basket-state', 'processing');
                universe.basket.add(api.extend({
                    'quantity': quantity,
                    'price': price
                }, data, {
                    'id': id
                }));
            } else if (action === 'remove') {
                $('[data-basket-id=' + id + ']').attr('data-basket-state', 'processing');
                universe.basket.remove(api.extend({}, data, {
                    'id': id
                }));
            } else if (action === 'delay') {
                $('[data-basket-id=' + id + ']').attr('data-basket-state', 'processing');
                universe.basket.add(api.extend({
                    'quantity': quantity,
                    'price': price
                }, data, {
                    'id': id,
                    'delay': 'Y'
                }));
            } else if (action === 'setQuantity') {
                $('[data-basket-id=' + id + ']').attr('data-basket-state', 'processing');
                universe.basket.setQuantity(api.extend({
                    'quantity': quantity,
                    'price': price
                }, data, {
                    'id': id,
                    'delay': 'Y'
                }));
            }
        });

        universe.basket.on('update', update);
        universe.compare.on('update', update);

        BX.addCustomEvent('onFrameDataReceived', update);
        BX.ready(update);
    })($, intec);
</script>
<script>
    var root = $('#i-3-intec-universe-widget-buttontop-d1lqBc7LJePo');
    var button = $('[data-role="button"]', root);

    $(window).scroll(function () {
        var windowHeight = document.documentElement.clientHeight;

        if ($(this).scrollTop() > windowHeight) {
            button.fadeIn();
        } else {
            button.fadeOut();
        }
    });
    button.click(function () {
        $('body, html').animate({
            scrollTop: 0
        }, 600);
    });
</script>
<script type="text/javascript">
    (function ($, api) {
        var root = $('#i-4-intec-universe-sale-basket-small-template-2-gnX3eXc-Vj5u');
        var switches = $('[data-role="switches"]', root);
        var products = $('[data-role="product"]', root);
        var buttons = $('[data-role="button"]', root);
        var overlay;
        var tabs;

        overlay = (function () {
            var overlay = $('[data-role="overlay"]', root);
            var state = false;

            overlay.open = function (animate) {
                if (state)
                    return;

                state = true;

                if (animate) {
                    overlay.css({'width': '100%', 'height': '100%', 'opacity': '1'}).stop().animate({
                            'opacity': 1
                        }, 500, function () {
                        }
                    );
                } else {
                    overlay.css({'width': '100%', 'height': '100%', 'opacity': 1});
                }
            };

            overlay.close = function (animate) {
                if (!state)
                    return;

                state = false;

                if (animate) {
                    overlay.css('opacity', 0).stop().animate({
                            'opacity': 0
                        }, 500, function () {
                            overlay.css({'width': '', 'height': '', 'opacity': ''});
                        }
                    );
                } else {
                    overlay.css({'opacity': '', 'width': '', 'height': ''});
                }
            };

            return overlay;
        })();

        tabs = (function () {
            var tabs = $('[data-role="tabs"]', root);
            var list = $('[data-tab]', tabs);
            var current = null;

            tabs.open = function (code, animate) {
                var tab;
                var width = {};

                tab = list.filter('[data-tab="' + code + '"]');

                if (tab.length !== 1)
                    return false;

                tabs.trigger('open', [tab]);

                width.current = tabs.width();
                current = code;

                list.css({
                    'display': '',
                    'width': ''
                }).attr('data-active', 'false');

                tab.css('display', 'block').attr('data-active', 'true');
                width.new = tab.width();

                if (animate) {
                    tab.css('width', width.current).stop().animate({
                        'width': width.new
                    }, 500, function () {
                        tab.css('width', '');
                    });
                } else {
                    tab.css('width', '');
                }

                return true;
            };

            tabs.close = function (animate) {
                var tab;

                if (current === null)
                    return;

                tab = list.filter('[data-tab="' + current + '"]');
                current = null;

                if (tab.length !== 1)
                    return;

                tabs.trigger('close', [tab]);

                if (animate) {
                    tab.stop().animate({
                        'width': 0
                    }, 500, function () {
                        list.attr('data-active', 'false');
                        tab.css({
                            'width': '',
                            'display': ''
                        });
                    });
                } else {
                    list.attr('data-active', 'false');
                    tab.css('display', '');
                }
            };

            tabs.switch = function (code, animate) {
                if (code === current) {
                    tabs.close(animate);
                    overlay.close(animate);

                    return false;
                } else {
                    tabs.open(code, animate);
                    overlay.open(animate);

                    return true;
                }
            };

            tabs.getCurrent = function () {
                return current;
            };

            return tabs;
        })();

        switches.activate = function (item) {
            item = switches.children('[data-role="switch"]').filter(item);

            if (item.length !== 1)
                return;

            item.attr('data-active', 'true');
            item.addClass('active');
        };

        switches.deactivate = function () {
            switches.children('[data-role="switch"]').attr('data-active', 'false');
            switches.children('[data-role="switch"]').removeClass('active');
        };

        tabs.on('close', function () {
            switches.deactivate();
        });

        switches.children('[data-role="switch"]').on('click', function () {
            var self = $(this);
            var tab = self.data('tab');

            switches.deactivate();

            if (tabs.switch(tab, true)) {
                switches.activate(self);
            }
        });

        overlay.on('click', function () {
            tabs.close(true);
            overlay.close(true);
        });

    })(jQuery, intec)
</script>
<script type="text/javascript">
    (function () {
        var root = $('#i-9-intec-regionality-regions-select-default-b7WAH1g6DqWX');
        var data;
        var dialog = $('[data-role="dialog"]', root);
        var select = $('[data-role="select"]', root);
        var window;
        var question = $('[data-role="question"]', root);
        var component = new JCIntecRegionalityRegionsSelect({
            'action': '/set_terminal_id.php',
            'site': 's1'
        });

        dialog.search = $('[data-role="dialog.search"]', dialog);
        dialog.auto = $('[data-role="dialog.auto"]', dialog);
        dialog.regionsContainer = $('[data-role="dialog.regions"]', dialog);
        dialog.regionsContainer.scrollbar();
        dialog.regions = $('[data-role="dialog.region"]', dialog.regionsContainer);
        dialog.open = function () {
            window.show();
        };

        dialog.close = function () {
            window.close();
        };

        data = {'id': 'i-9-intec-regionality-regions-select-default-b7WAH1g6DqWX-dialog', 'title': 'Выбрать регион'};

        question.yes = $('[data-role="question.yes"]', question);
        question.no = $('[data-role="question.no"]', question);
        question.close = function () {
            question.remove();
        };

        window = new BX.PopupWindow(data.id, null, {
            'content': null,
            'title': data.title,
            'className': 'regions-select-popup regions-select-popup-default',
            'closeIcon': {
                'right': '35px',
                'top': '22px'
            },
            'zIndex': 0,
            'offsetLeft': 0,
            'offsetTop': 0,
            'width': null,
            'overlay': true,
            'titleBar': {
                'content': BX.create('span', {
                    'html': data.title,
                    'props': {
                        'className': 'access-title-bar'
                    }
                })
            }
        });

        window.setContent(dialog.get(0));

        select.on('click', function () {
            dialog.open();
            question.close();
        });

        dialog.search.on('keyup', function () {
            var query = this.value;
            var expression = new RegExp(query.replace(/[.*+?^${}()|[\]\\]/g, '\\$&'), 'i');

            dialog.regions.each(function () {
                var region = $(this);
                var selector = $('[data-role="dialog.region.selector"]', region);

                if (query.length === 0 || selector.html().match(expression)) {
                    region.css('display', '');
                } else {
                    region.css('display', 'none');
                }
            });
        });

        dialog.auto.on('click', function () {
            var id = dialog.auto.data('region');

            component.select(id);
            dialog.auto.remove();
            dialog.close();
        });

        dialog.regions.on('click', function () {
            var region = $(this);
            var id = region.data('id');

            component.select(id);
            dialog.close();
        });

        question.yes.on('click', function () {
            var id = question.data('region');

            question.close();
            component.select(id);
        });

        question.no.on('click', function () {
            question.close();
            dialog.open();
        });

        $('[data-role="question.close"]', question).on('click', function () {
            var id = question.data('region');

            question.close();
            component.select(id);
        });
    })();
</script>
<script type="text/javascript">
    (function ($, api) {
        var root = $('#i-10-bitrix-search-title-popup-1-XdqEv16rajmu');
        var search = $('[data-role="search"]', root);
        var overlay = $('[data-role="overlay"]', search);
        var panel = $('[data-role="panel"]', search);
        var input = $('[data-role="input"]', search);
        var page = $('html');
        var buttons = {};
        var state = false;

        buttons.open = $('[data-action="search.open"]', root);
        buttons.close = $('[data-action="search.close"]', root);

        search.open = function () {
            if (state) return;

            state = true;
            search.attr('data-expanded', 'true').css({
                'display': 'block'
            });

            page.css({
                'overflow': 'hidden',
                'height': '100%'
            });

            panel.stop().animate({'top': 0}, 350);
            overlay.stop().animate({'opacity': 0.5}, 350);

            input.focus();
        };

        search.close = function () {
            if (!state) return;

            state = false;
            search.attr('data-expanded', 'false');

            panel.stop().animate({'top': -panel.height()}, 350);
            overlay.stop().animate({'opacity': 0}, 350, function () {
                search.css({'display': 'none'});
                input.blur();

                page.css({
                    'overflow': '',
                    'height': ''
                });
            });
        };

        buttons.open.on('click', search.open);
        buttons.close.on('click', search.close);
    })(jQuery, intec);
</script>
<script type="text/javascript">
    (function ($, api) {
        var handler;

        handler = function () {
            var root = $('#i-11-bitrix-system-auth-form-panel-iIjGFB3HxHmm');
            var buttons;
            var modal;
            var window;
            var data;

            data = {'id': 'i-11-bitrix-system-auth-form-panel-iIjGFB3HxHmm-modal', 'title': 'Авторизация'};

            modal = $('[data-role="modal"]', root);
            modal.open = function () {
                window.setContent(modal.clone().get(0));
                window.show();
            };

            window = new BX.PopupWindow(data.id, null, {
                'content': null,
                'title': data.title,
                'closeIcon': {
                    'right': '20px',
                    'top': '22px'
                },
                'zIndex': 0,
                'offsetLeft': 0,
                'offsetTop': 0,
                'width': 800,
                'overlay': true,
                'titleBar': {
                    'content': BX.create('span', {
                        'html': data.title,
                        'props': {
                            'className': 'access-title-bar'
                        }
                    })
                }
            });

            buttons = {};
            buttons.login = $('[data-action="login"]', root);
            buttons.login.on('click', modal.open);
        };

        $(document).on('ready', handler);
        BX.addCustomEvent('onFrameDataReceived', handler);
    })(jQuery, intec);
</script>
<script type="text/javascript">
    (function ($, api) {
        $(document).ready(function () {
            var root = $('#i-12-bitrix-menu-horizontal-1-XEVOpkwAkIZ0');
            var selectors = {
                'menu': '[data-role=menu]',
                'item': '[data-role=item]',
                'items': '[data-role=items]',
                'more': '[data-role=more]',
                'cards': '[data-role=cards]',
                'card': '[data-role=card]',
                'overlay': '[data-role=overlay]'
            };
            var classes = {
                'adapted': 'menu-adapted',
                'initialized': 'menu-initialized',
                'visible': 'menu-submenu-visible',
                'right': 'menu-submenu-right'
            };
            var menu;
            var overlay;
            var adapt;

            if (root.is(selectors.menu)) {
                menu = root;
            } else {
                menu = root.find(selectors.menu).eq(0);
            }

            overlay = root.find(selectors.overlay);

            menu.getItemsWrappers = function (submenu) {
                if (!submenu) {
                    return menu
                        .find(selectors.items);
                }

                if (menu.get(0) === submenu.get(0)) {
                    submenu = menu;
                } else {
                    submenu = menu
                        .find(submenu);
                }

                return submenu
                    .find(selectors.items)
                    .eq(0);
            };

            menu.getItems = function (submenu) {
                if (!submenu) {
                    return menu
                        .find(selectors.item);
                }

                return menu
                    .getItemsWrappers(submenu)
                    .children(selectors.item);
            };

            menu.getMenu = function (item) {
                if (item)
                    return menu
                        .find(item)
                        .find(selectors.menu)
                        .eq(0);

                return menu
                    .find(selectors.menu);
            };

            menu.more = {};
            menu.more.getItem = function () {
                return menu
                    .find(selectors.more);
            };
            menu.more.getMenu = function () {
                return menu.getMenu(menu.more.getItem());
            };
            menu.more.add = function (add) {
                var items;

                add = $(add);
                items = menu.getItems(menu.more.getMenu());
                add.each(function () {
                    var self = $(this);
                    var item = items.eq(self.index());

                    self.hide();
                    item.show();
                });
            };
            menu.more.remove = function (remove) {
                var items;

                remove = $(remove);
                items = menu.getItems(menu.more.getMenu());
                remove.each(function () {
                    var self = $(this);
                    var item = items.eq(self.index());

                    self.show();
                    item.hide();
                });
            };

            adapt = {};
            adapt.menu = function () {
                var submenu = menu.getMenu().filter('[data-visible=true]');
                var wrapper = menu.getItemsWrappers(menu);
                var width = wrapper.width();
                var right = false;

                submenu.each(function () {
                    var self = $(this);
                    var offset = {};

                    self.removeClass(classes.right);

                    offset.start = function () {
                        return self.offset().left - wrapper.offset().left
                    };
                    offset.end = function () {
                        return offset.start() + self.width();
                    };

                    if (offset.end() > width)
                        right = true;

                    if (right) {
                        self.addClass(classes.right);

                        if (offset.start() < 0) {
                            self.removeClass(classes.right);
                            right = false;
                        }
                    }
                });
            };
            adapt.items = function () {
                var items = {};
                var width = {};
                var wrapper = menu.getItemsWrappers(menu);

                menu.removeClass(classes.adapted);
                items.all = menu.getItems(menu);
                items.visible = $([]);
                items.hidden = $([]);

                items.all.hide();
                width.available = wrapper.width() - menu.more.getItem().show().width();
                items.all.show();
                width.total = 0;

                menu.more.remove(items.all);
                items.all.each(function () {
                    var item = $(this);

                    item.css({'width': 'auto'});
                    width.total += item.width();

                    if (width.total < width.available) {
                        items.visible = items.visible.add(item);
                    } else {
                        items.hidden = items.hidden.add(item);
                    }
                });

                if (items.hidden.size() > 0) {
                    menu.more.add(items.hidden);
                } else {
                    menu.more.getItem().hide();
                    width.available = wrapper.width();
                }

                menu.addClass(classes.adapted);

                var last = null;

                width.total = {
                    'original': 0,
                    'rounded': 0
                };

                items.visible.each(function () {
                    width.total.original += $(this).width();
                }).each(function () {
                    var item = $(this);
                    var size = Math.floor((width.available / 100) * (item.width() / width.total.original) * 100);

                    width.total.rounded += size;
                    item.css('width', size + 'px');
                    last = item;
                });

                if (last != null)
                    last.css('width', last.width() + (width.available - width.total.rounded) + 'px');
            };

            menu.getItems().add(menu.more.getItem()).on('mouseenter', function (event) {
                var item = $(this);
                var submenu;
                var level = item.attr('data-level');

                submenu = menu.getMenu(item);
                if ((level === '0' || item.attr('data-role') === 'more') && submenu.length === 1) {
                    overlay.show().stop().animate({
                        'opacity': 1
                    }, 300);
                }
                submenu.show().addClass(classes.visible).stop().animate({
                    'opacity': 1
                }, 300);
                submenu.attr('data-visible', 'true');
                adapt.menu();

                event.preventDefault();
            }).on('mouseleave', function (event) {
                var item = $(this);
                var submenu;
                var level = item.attr('data-level');

                if (level === '0' || item.attr('data-role') === 'more') {
                    overlay.stop().animate({
                        'opacity': 0
                    }, 300, function () {
                        overlay.hide();
                    });
                }
                submenu = menu.getMenu(item);
                submenu.stop().removeClass(classes.visible).animate({
                    'opacity': 0
                }, 50, function () {
                    adapt.menu();
                    submenu.removeAttr('data-visible');
                    submenu.hide();
                });

                event.preventDefault();
            });

            menu.getItems(menu).each(function () {
                var item = $(this);
                var submenu = menu.getMenu(item);
                var items = menu.getItems(submenu);

                if (submenu.length !== 1)
                    return;

                var cardsWrapper = submenu.children(selectors.cards);

                if (cardsWrapper.length !== 1)
                    return;

                var cards = cardsWrapper.children(selectors.card);
                var opening = false;

                cardsWrapper.css({
                    'width': 0
                });

                items.on('mouseenter', function () {
                    var item = $(this);
                    var card = cards.eq(item.index());
                    var width;

                    cards.attr('data-expanded', 'false');
                    card.attr('data-expanded', 'true');

                    if (!opening) {
                        width = {
                            'current': cardsWrapper.width(),
                            'new': cardsWrapper.css({
                                'width': 'auto'
                            }).width()
                        };

                        if (width.current !== width.new) {
                            opening = true;

                            cardsWrapper.stop().css({
                                'width': width.current
                            }).animate({
                                'width': width.new
                            }, 500, function () {
                                opening = false;
                            });
                        }
                    }
                });

                submenu.on('mouseleave', function () {
                    var width = cardsWrapper.width();

                    opening = false;
                    cardsWrapper.stop().css({
                        'width': width
                    }).animate({
                        'width': 0
                    }, 500, function () {
                        cards.attr('data-expanded', 'false');
                    });
                });
            });

            root.on('update', function () {
                adapt.menu();
                adapt.items();
            });

            $(window).on('resize', function () {
                root.trigger('update');
            });

            menu.addClass(classes.initialized);
            root.trigger('update');
        });
    })(jQuery, intec);
</script>
<script type="text/javascript">
    (function ($) {
        $(document).on('ready', function () {
            var root = $('#i-6-intec-universe-main-header-template-1-dZcvT5yLZEp0');
            var button = $('[data-action="forms.call.open"]', root);

            button.on('click', function () {
                universe.forms.show({
                    'id': 1,
                    'template': '.default',
                    'parameters': {
                        'AJAX_OPTION_ADDITIONAL': 'i-7-intec-universe-main-header-template-1-dZcvT5yLZEp0_FORM_CALL',
                        'CONSENT_URL': '/company/consent/'
                    },
                    'settings': {'title': 'Заказать звонок'}
                });

            });
        });
    })(jQuery)
</script>
<script type="text/javascript">
    (function ($) {
        $(document).on('ready', function () {
            var root = $('#i-6-intec-universe-main-header-template-1-dZcvT5yLZEp0');
            var block = $('[data-block="phone"]', root);
            var popup = $('[data-block-element="popup"]', block);

            popup.open = $('[data-block-action="popup.open"]', block);
            popup.open.on('mouseenter', function () {
                block.attr('data-expanded', 'true');
            });

            block.on('mouseleave', function () {
                block.attr('data-expanded', 'false');
            });
        });
    })(jQuery)
</script>
<script type="text/javascript">
    (function ($, api) {
        var handler;

        handler = function () {
            var root = $('#i-15-bitrix-system-auth-form-panel-8k8aZSkGQIXc');
            var buttons;
            var modal;
            var window;
            var data;

            data = {'id': 'i-15-bitrix-system-auth-form-panel-8k8aZSkGQIXc-modal', 'title': 'Авторизация'};

            modal = $('[data-role="modal"]', root);
            modal.open = function () {
                window.setContent(modal.clone().get(0));
                window.show();
            };

            window = new BX.PopupWindow(data.id, null, {
                'content': null,
                'title': data.title,
                'closeIcon': {
                    'right': '20px',
                    'top': '22px'
                },
                'zIndex': 0,
                'offsetLeft': 0,
                'offsetTop': 0,
                'width': 800,
                'overlay': true,
                'titleBar': {
                    'content': BX.create('span', {
                        'html': data.title,
                        'props': {
                            'className': 'access-title-bar'
                        }
                    })
                }
            });

            buttons = {};
            buttons.login = $('[data-action="login"]', root);
            buttons.login.on('click', modal.open);
        };

        $(document).on('ready', handler);
        BX.addCustomEvent('onFrameDataReceived', handler);
    })(jQuery, intec);
</script>
<script type="text/javascript">
    (function ($) {
        $(document).on('ready', function () {

            $( ".i-8-bitrix-menu-popup-3-LkGdQnW4WHwB" ).each(function() {
                var root = $(this);
                var button = $('[data-role="forms.button"]', root);


                button.on('click', function () {
                    var action = $(this).attr('data-action');

                    if (action == 'call.open') {
                        universe.forms.show({'id': 1, 'template': '.default', 'parameters': {'AJAX_OPTION_ADDITIONAL': 'i-8-bitrix-menu-popup-3-LkGdQnW4WHwB_FORM_CALL', 'CONSENT_URL': '/company/consent/'}, 'settings': {'title': 'Заказать звонок'}});
                    } else if (action == 'feedback.open') {
                        universe.forms.show({'id': 2, 'template': '.default', 'parameters': {'AJAX_OPTION_ADDITIONAL': 'i-8-bitrix-menu-popup-3-LkGdQnW4WHwB_FORM_CALL', 'CONSENT_URL': '/company/consent/'}, 'settings': {'title': 'Задать вопрос'}});
                    }
                });
            });
        });
    })(jQuery)
</script>
<script type="text/javascript">
    (function ($, api) {
        $(document).ready(function () {
            var root = $('#i-16-bitrix-menu-horizontal-1-g8taYvoNj68S');
            var selectors = {
                'menu': '[data-role=menu]',
                'item': '[data-role=item]',
                'items': '[data-role=items]',
                'more': '[data-role=more]',
                'cards': '[data-role=cards]',
                'card': '[data-role=card]',
                'overlay': '[data-role=overlay]'
            };
            var classes = {
                'adapted': 'menu-adapted',
                'initialized': 'menu-initialized',
                'visible': 'menu-submenu-visible',
                'right': 'menu-submenu-right'
            };
            var menu;
            var overlay;
            var adapt;

            if (root.is(selectors.menu)) {
                menu = root;
            } else {
                menu = root.find(selectors.menu).eq(0);
            }

            overlay = root.find(selectors.overlay);

            menu.getItemsWrappers = function (submenu) {
                if (!submenu) {
                    return menu
                        .find(selectors.items);
                }

                if (menu.get(0) === submenu.get(0)) {
                    submenu = menu;
                } else {
                    submenu = menu
                        .find(submenu);
                }

                return submenu
                    .find(selectors.items)
                    .eq(0);
            };

            menu.getItems = function (submenu) {
                if (!submenu) {
                    return menu
                        .find(selectors.item);
                }

                return menu
                    .getItemsWrappers(submenu)
                    .children(selectors.item);
            };

            menu.getMenu = function (item) {
                if (item)
                    return menu
                        .find(item)
                        .find(selectors.menu)
                        .eq(0);

                return menu
                    .find(selectors.menu);
            };

            menu.more = {};
            menu.more.getItem = function () {
                return menu
                    .find(selectors.more);
            };
            menu.more.getMenu = function () {
                return menu.getMenu(menu.more.getItem());
            };
            menu.more.add = function (add) {
                var items;

                add = $(add);
                items = menu.getItems(menu.more.getMenu());
                add.each(function () {
                    var self = $(this);
                    var item = items.eq(self.index());

                    self.hide();
                    item.show();
                });
            };
            menu.more.remove = function (remove) {
                var items;

                remove = $(remove);
                items = menu.getItems(menu.more.getMenu());
                remove.each(function () {
                    var self = $(this);
                    var item = items.eq(self.index());

                    self.show();
                    item.hide();
                });
            };

            adapt = {};
            adapt.menu = function () {
                var submenu = menu.getMenu().filter('[data-visible=true]');
                var wrapper = menu.getItemsWrappers(menu);
                var width = wrapper.width();
                var right = false;

                submenu.each(function () {
                    var self = $(this);
                    var offset = {};

                    self.removeClass(classes.right);

                    offset.start = function () {
                        return self.offset().left - wrapper.offset().left
                    };
                    offset.end = function () {
                        return offset.start() + self.width();
                    };

                    if (offset.end() > width)
                        right = true;

                    if (right) {
                        self.addClass(classes.right);

                        if (offset.start() < 0) {
                            self.removeClass(classes.right);
                            right = false;
                        }
                    }
                });
            };
            adapt.items = function () {
                var items = {};
                var width = {};
                var wrapper = menu.getItemsWrappers(menu);

                menu.removeClass(classes.adapted);
                items.all = menu.getItems(menu);
                items.visible = $([]);
                items.hidden = $([]);

                items.all.hide();
                width.available = wrapper.width() - menu.more.getItem().show().width();
                items.all.show();
                width.total = 0;

                menu.more.remove(items.all);
                items.all.each(function () {
                    var item = $(this);

                    item.css({'width': 'auto'});
                    width.total += item.width();

                    if (width.total < width.available) {
                        items.visible = items.visible.add(item);
                    } else {
                        items.hidden = items.hidden.add(item);
                    }
                });

                if (items.hidden.size() > 0) {
                    menu.more.add(items.hidden);
                } else {
                    menu.more.getItem().hide();
                    width.available = wrapper.width();
                }

                menu.addClass(classes.adapted);

                var last = null;

                width.total = {
                    'original': 0,
                    'rounded': 0
                };

                items.visible.each(function () {
                    width.total.original += $(this).width();
                }).each(function () {
                    var item = $(this);
                    var size = Math.floor((width.available / 100) * (item.width() / width.total.original) * 100);

                    width.total.rounded += size;
                    item.css('width', size + 'px');
                    last = item;
                });

                if (last != null)
                    last.css('width', last.width() + (width.available - width.total.rounded) + 'px');
            };

            menu.getItems().add(menu.more.getItem()).on('mouseenter', function (event) {
                var item = $(this);
                var submenu;
                var level = item.attr('data-level');

                submenu = menu.getMenu(item);
                if ((level === '0' || item.attr('data-role') === 'more') && submenu.length === 1) {
                    overlay.show().stop().animate({
                        'opacity': 1
                    }, 300);
                }
                submenu.show().addClass(classes.visible).stop().animate({
                    'opacity': 1
                }, 300);
                submenu.attr('data-visible', 'true');
                adapt.menu();

                event.preventDefault();
            }).on('mouseleave', function (event) {
                var item = $(this);
                var submenu;
                var level = item.attr('data-level');

                if (level === '0' || item.attr('data-role') === 'more') {
                    overlay.stop().animate({
                        'opacity': 0
                    }, 300, function () {
                        overlay.hide();
                    });
                }
                submenu = menu.getMenu(item);
                submenu.stop().removeClass(classes.visible).animate({
                    'opacity': 0
                }, 50, function () {
                    adapt.menu();
                    submenu.removeAttr('data-visible');
                    submenu.hide();
                });

                event.preventDefault();
            });

            menu.getItems(menu).each(function () {
                var item = $(this);
                var submenu = menu.getMenu(item);
                var items = menu.getItems(submenu);

                if (submenu.length !== 1)
                    return;

                var cardsWrapper = submenu.children(selectors.cards);

                if (cardsWrapper.length !== 1)
                    return;

                var cards = cardsWrapper.children(selectors.card);
                var opening = false;

                cardsWrapper.css({
                    'width': 0
                });

                items.on('mouseenter', function () {
                    var item = $(this);
                    var card = cards.eq(item.index());
                    var width;

                    cards.attr('data-expanded', 'false');
                    card.attr('data-expanded', 'true');

                    if (!opening) {
                        width = {
                            'current': cardsWrapper.width(),
                            'new': cardsWrapper.css({
                                'width': 'auto'
                            }).width()
                        };

                        if (width.current !== width.new) {
                            opening = true;

                            cardsWrapper.stop().css({
                                'width': width.current
                            }).animate({
                                'width': width.new
                            }, 500, function () {
                                opening = false;
                            });
                        }
                    }
                });

                submenu.on('mouseleave', function () {
                    var width = cardsWrapper.width();

                    opening = false;
                    cardsWrapper.stop().css({
                        'width': width
                    }).animate({
                        'width': 0
                    }, 500, function () {
                        cards.attr('data-expanded', 'false');
                    });
                });
            });

            root.on('update', function () {
                adapt.menu();
                adapt.items();
            });

            $(window).on('resize', function () {
                root.trigger('update');
            });

            menu.addClass(classes.initialized);
            root.trigger('update');
        });
    })(jQuery, intec);
</script>
<script>
    (function ($, api) {

        $(document).on('ready', function () {
            var root = $('#i-6-intec-universe-main-header-template-1-dZcvT5yLZEp0');
            var view = $('.widget-view.widget-view-fixed', root);
            var menu = $('.widget-menu .ns-bitrix.c-menu.c-menu-horizontal-1', view);

            view.on('show', function () {
                menu.trigger('update');
            });
        });
    })(jQuery, intec);

</script>
<script type="text/javascript">
    (function ($, api) {
        var root = $('#i-17-bitrix-search-title-popup-1-EPNisfPuid5k');
        var search = $('[data-role="search"]', root);
        var overlay = $('[data-role="overlay"]', search);
        var panel = $('[data-role="panel"]', search);
        var input = $('[data-role="input"]', search);
        var page = $('html');
        var buttons = {};
        var state = false;

        buttons.open = $('[data-action="search.open"]', root);
        buttons.close = $('[data-action="search.close"]', root);

        search.open = function () {
            if (state) return;

            state = true;
            search.attr('data-expanded', 'true').css({
                'display': 'block'
            });

            page.css({
                'overflow': 'hidden',
                'height': '100%'
            });

            panel.stop().animate({'top': 0}, 350);
            overlay.stop().animate({'opacity': 0.5}, 350);

            input.focus();
        };

        search.close = function () {
            if (!state) return;

            state = false;
            search.attr('data-expanded', 'false');

            panel.stop().animate({'top': -panel.height()}, 350);
            overlay.stop().animate({'opacity': 0}, 350, function () {
                search.css({'display': 'none'});
                input.blur();

                page.css({
                    'overflow': '',
                    'height': ''
                });
            });
        };

        buttons.open.on('click', search.open);
        buttons.close.on('click', search.close);

    })(jQuery, intec);
</script>
<script type="text/javascript">
    (function ($, api) {
        (function ($, api) {
            var handler;

            handler = function () {
                var root = $('#i-19-bitrix-system-auth-form-icons-5623zQyX0r6z');
                var buttons;
                var modal;

                modal = $('[data-role="modal"]', root);
                modal.open = function () {
                    var window;
                    var data;

                    data = {'id': 'i-19-bitrix-system-auth-form-icons-5623zQyX0r6zmodal', 'title': 'Авторизация'};

                    window = new BX.PopupWindow(data.id, null, {
                        'content': modal.clone().get(0),
                        'title': data.title,
                        'closeIcon': {
                            'right': '20px',
                            'top': '22px'
                        },
                        'zIndex': 0,
                        'offsetLeft': 0,
                        'offsetTop': 0,
                        'width': 800,
                        'overlay': true,
                        'titleBar': {
                            'content': BX.create('span', {
                                'html': data.title,
                                'props': {
                                    'className': 'access-title-bar'
                                }
                            })
                        }
                    });

                    window.show();
                };

                buttons = {};
                buttons.login = $('[data-action="login"]', root);
                buttons.login.on('click', modal.open);
            };

            $(document).on('ready', handler);

            BX.addCustomEvent("onFrameDataReceived", handler);
        })(jQuery, intec);
    })(jQuery, intec);
</script>
<script type="text/javascript">
    (function ($, api) {
        $(document).on('ready', function () {
            var root = $('#i-6-intec-universe-main-header-template-1-dZcvT5yLZEp0');
            var state = false;
            var area = $(window);
            var views;
            var update;

            update = function () {
                var bound = 0;

                if (views.desktop.is(':visible')) {
                    bound += views.desktop.height();
                    bound += views.desktop.offset().top;
                }

                if (area.scrollTop() > bound) {
                    views.fixed.show();
                } else {
                    views.fixed.hide();
                }
            };

            views = {};
            views.desktop = $('.widget-view.widget-view-desktop', root);
            views.fixed = $('.widget-view.widget-view-fixed', root);
            views.fixed.css({
                'top': -views.fixed.height()
            });

            views.fixed.show = function () {
                var view = views.fixed;

                if (state) return;

                state = true;
                view.css({
                    'display': 'block'
                });

                view.trigger('show');
                view.stop().animate({
                    'top': 0
                }, 500)
            };

            views.fixed.hide = function () {
                var view = views.fixed;

                if (!state) return;

                state = false;
                view.stop().animate({
                    'top': -view.height()
                }, 500, function () {
                    view.trigger('hide');
                    view.css({
                        'display': 'none'
                    })
                })
            };

            update();

            area.on('scroll', update)
                .on('resize', update);
        });
    })(jQuery, intec);
</script>
<script type="text/javascript">
    (function ($) {
        var root = $('#i-22-intec-regionality-regions-select-default-WaisE9PMVF0N');
        var regions = $('[data-role="item"][data-region]', root);
        var component = new JCIntecRegionalityRegionsSelect({
            'action': '/ajax_set_terminal_id.php',
            'site': 's1'
        });

        regions.on('click', function () {
            var region = $(this);
            var id = region.data('region');

            component.select(id);
        })
    })(jQuery);
</script>
<script type="text/javascript">
    (function ($, api) {
        $(document).on('ready', function () {
            var root = $('#i-20-bitrix-menu-mobile-2-NMQc3w6cRZPp');
            var menu = $('[data-role="menu"]', root);
            var page = $('html');
            var buttons = {};
            var state = false;

            menu.items = $('[data-role="item"]', root);
            buttons.open = $('[data-action="menu.open"]', root);
            buttons.close = $('[data-action="menu.close"]', root);

            menu.open = function () {
                if (state) return;

                state = true;
                menu.css({
                    'display': 'block'
                }).stop().animate({
                    'opacity': 1
                }, 500);

                page.css({
                    'overflow': 'hidden',
                    'height': '100%'
                });
            };

            menu.close = function () {
                if (!state) return;

                state = false;
                menu.stop().animate({
                    'opacity': 0
                }, 500, function () {
                    menu.css({
                        'display': 'none'
                    });

                    page.css({
                        'overflow': '',
                        'height': ''
                    });
                });
            };

            buttons.open.on('click', menu.open);
            buttons.close.on('click', menu.close);

            menu.items.each(function () {
                var item = $(this);
                var parent = item.parents('[data-role="item"]').first();
                var items = $('[data-role="items"]', item).first();
                var buttons = {};
                var state = false;

                parent.items = $('[data-role="items"]', parent).first();

                if (items.size() === 0)
                    return;

                buttons.open = $('[data-action="menu.item.open"]', item).first();
                buttons.close = $('[data-action="menu.item.close"]', items).first();

                item.open = function () {
                    if (state) return;

                    state = true;
                    menu.items.attr('data-current', 'false');
                    item.attr('data-expanded', 'true');
                    item.attr('data-current', 'true');
                    parent.items.scrollTop(0);
                };

                item.close = function () {
                    if (!state) return;

                    state = false;
                    menu.items.attr('data-current', 'false');
                    item.attr('data-expanded', 'false');
                    parent.attr('data-current', 'true');
                };

                buttons.open.on('click', item.open);
                buttons.close.on('click', item.close);
            });

            var phone = $('[data-role="phones"]', root);
            var phoneButton = $('[data-role="phone.button"]', phone);
            var phoneItems = $('[data-role="phone.items"]', phone);

            phoneButton.on('click', function () {
                var phoneState = phone.attr('data-state');

                if (phoneState == 'open') {
                    phone.attr('data-state', 'close');
                } else if (phoneState == 'close') {
                    phone.attr('data-state', 'open');
                }

                phoneItems.slideToggle();
            })
        })
    })(jQuery, intec);
</script>
<script type="text/javascript">
    (function ($, api) {
        var root = $('#i-24-bitrix-search-title-popup-1-gWtbKhphsSY4');
        var search = $('[data-role="search"]', root);
        var overlay = $('[data-role="overlay"]', search);
        var panel = $('[data-role="panel"]', search);
        var input = $('[data-role="input"]', search);
        var page = $('html');
        var buttons = {};
        var state = false;

        buttons.open = $('[data-action="search.open"]', root);
        buttons.close = $('[data-action="search.close"]', root);

        search.open = function () {
            if (state) return;

            state = true;
            search.attr('data-expanded', 'true').css({
                'display': 'block'
            });

            page.css({
                'overflow': 'hidden',
                'height': '100%'
            });

            panel.stop().animate({'top': 0}, 350);
            overlay.stop().animate({'opacity': 0.5}, 350);

            input.focus();
        };

        search.close = function () {
            if (!state) return;

            state = false;
            search.attr('data-expanded', 'false');

            panel.stop().animate({'top': -panel.height()}, 350);
            overlay.stop().animate({'opacity': 0}, 350, function () {
                search.css({'display': 'none'});
                input.blur();

                page.css({
                    'overflow': '',
                    'height': ''
                });
            });
        };

        buttons.open.on('click', search.open);
        buttons.close.on('click', search.close);

    })(jQuery, intec);
</script>
<script type="text/javascript">
    (function ($, api) {
        $(document).on('ready', function () {
            var root = $('#i-6-intec-universe-main-header-template-1-dZcvT5yLZEp0');
            var area = $(window);
            var view;
            var update;
            var stub = null;
            var scrollPrev = 0;

            view = $('.widget-view.widget-view-mobile', root);
            update = function () {
                var bound = 0;

                view.removeClass('widget-view-mobile-fixed');

                if (view.is(':visible')) {
                    bound += view.offset().top;

                    if (area.scrollTop() > bound) {
                        if (stub === null) {
                            stub = $('<div></div>');
                            view.after(stub);
                        }

                        stub.css({
                            'height': view.height()
                        });

                        view.addClass('widget-view-mobile-fixed');
                    } else {
                        if (stub !== null) {
                            stub.remove();
                            stub = null;
                        }
                    }
                } else {
                    if (stub !== null) {
                        stub.remove();
                        stub = null;
                    }
                }
            };

            update();

            area.on('scroll', function () {
                update();

                var scrolled = area.scrollTop();

                if (scrolled > 100 && scrolled > scrollPrev) {
                    view.addClass('widget-view-mobile-out');
                } else {
                    view.removeClass('widget-view-mobile-out');
                }
                scrollPrev = scrolled;
            })
                .on('resize', update);
        });
    })(jQuery, intec);
</script>
<script type="text/javascript">
    (function () {
        var root = $('#i-25-intec-universe-main-slider-template-1-BK5Aovpqtj6y');
        var container = $('[data-role="container"]', root);
        var settings = {
            'attribute': 'data-color',
            'selector': '#i-6-intec-universe-main-header-template-1-dZcvT5yLZEp0',
            'slider': {
                'use': true,
                'items': 1,
                'nav': true,
                'navContainer': '[data-role=\"container.nav\"]',
                'navClass': ['nav-prev', 'nav-next'],
                'navText': ['<i class=\"far fa-angle-left\"></i>', '<i class=\"far fa-angle-right\"></i>'],
                'dots': true,
                'dotsEach': 1,
                'dotsContainer': '[data-role=\"container.dots\"]',
                'loop': false,
                'autoplay': true,
                'autoplayTimeout': 10000,
                'autoplayHoverPause': true
            }
        };
        var schemeChange;

        schemeChange = function () {
            var content = $('[data-role="content"]', root);
            var item;
            var scheme;

            if (settings.slider.use) {
                item = $('.owl-item.active .widget-item', container);
            } else {
                item = $('.widget-item', container).eq(0);
            }

            scheme = item.attr('data-item-scheme');
            content.attr('data-scheme', scheme);

            if (settings.selector) {
                content = root.closest(settings.selector);

                if (settings.attribute)
                    content.attr(settings.attribute, scheme);
            }
        };

        if (settings.slider.use) {
            container.owlCarousel({
                'items': settings.slider.items,
                'nav': settings.slider.nav,
                'navContainer': $(settings.slider.navContainer, root),
                'navClass': settings.slider.navClass,
                'navText': settings.slider.navText,
                'dots': settings.slider.dots,
                'dotsContainer': $(settings.slider.dotsContainer, root),
                'loop': settings.slider.loop,
                'autoplay': settings.slider.autoplay,
                'autoplayTimeout': settings.slider.autoplayTimeout,
                'autoplayHoverPause': settings.slider.autoplayHoverPause,
                'onTranslated': schemeChange
            });
        }

        schemeChange();
    })();
</script>
<script type="text/javascript">
    (function ($, api) {
        var root = $('#i-6-intec-universe-main-header-template-1-dZcvT5yLZEp0');
        var header = $('.widget-view.widget-view-desktop', root);
        var banner = $('.widget-banner', root);
        var slides = $('.widget-item-content', banner);
        var adapt;

        adapt = function () {
            var height;

            if (header.css('display') === 'none') {
                height = 0;
            } else {
                height = header.height();
            }

            banner.css({'margin-top': -height + 'px'});
            slides.css({'padding-top': height + 'px'});
        };

        $(window).on('resize', adapt);
        $(document).on('ready', adapt);

        adapt();
    })(jQuery, intec);
</script>
<script type="text/javascript">
    (function ($, api) {
        var root = $('#i-26-bitrix-catalog-section-default-OQ3k9PHlVICg');

        $(function () {
            var properties = root.data('properties');
            var items;
            var order;


            root.update = function () {
                var handled = [];

                if (api.isDeclared(items))
                    handled = items.handled;

                items = $('[data-role="item"]', root);
                items.handled = handled;
                items.each(function () {
                    var item = $(this);
                    var data = item.data('data');
                    var entity = data;
                    var expanded = false;

                    if (handled.indexOf(this) > -1)
                        return;

                    handled.push(this);
                    item.offers = new universe.catalog.offers({
                        'properties': properties.length !== 0 ? properties : data.properties,
                        'list': data.offers
                    });

                    item.image = $('[data-role="image"]', item);
                    item.counter = $('[data-role="item.counter"]', item);
                    item.price = $('[data-role="item.price"]', item);
                    item.price.base = $('[data-role="item.price.base"]', item.price);
                    item.price.discount = $('[data-role="item.price.discount"]', item.price);
                    item.order = $('[data-role="item.order"]', item);
                    item.quantity = api.controls.numeric({
                        'bounds': {
                            'minimum': 1,
                            'maximum':  false
                        },
                        'step': 1
                    }, item.counter);

                    item.quickView = $('[data-role="quick.view"]', item);

                    item.quickView.on('click', function () {
                        universe.components.show({
                            'component': 'quick.view',
                            'parameters': data,
                            'settings': {
                                'parameters': {
                                    'className': 'popup-window-quick-view',
                                    'width': null
                                }
                            }
                        });
                    });

                    item.update = function () {
                        var price = null;

                        item.attr('data-available', entity.available ? 'true' : 'false');
                        api.each(entity.prices, function (index, object) {
                            if (object.quantity.from === null || item.quantity.get() >= object.quantity.from)
                                price = object;
                        });

                        if (price !== null) {
                            item.price.attr('data-discount', price.discount.use ? 'true' : 'false');
                            item.price.base.html(price.base.display);
                            item.price.discount.html(price.discount.display);
                        } else {
                            item.price.attr('data-discount', 'false');
                            item.price.base.html(null);
                            item.price.discount.html(null);
                        }

                        item.price.attr('data-show', price !== null ? 'true' : 'false');
                        item.quantity.configure({
                            'bounds': {
                                'minimum': 1,
                                'maximum': false
                            },
                            'step': 1
                        });

                        item.find('[data-offer]').css('display', '');

                        if (entity !== data) {
                            item.find('[data-offer=' + entity.id + ']').css('display', 'block');
                            item.find('[data-offer="false"]').css('display', 'none');

                            if (item.image.filter('[data-offer=' + entity.id + ']').length === 0)
                                item.image.filter('[data-offer="false"]').css('display', 'block');
                        }

                        item.find('[data-basket-id]')
                            .data('basketQuantity', 1)
                            .attr('data-basket-quantity', 1);
                    };

                    item.update();


                    item.quantity.on('change', function (event, value) {
                        item.update();
                    });

                    if (!item.offers.isEmpty()) {
                        item.properties = $('[data-role="item.property"]', item);
                        item.properties.values = $('[data-role="item.property.value"]', item.properties);
                        item.properties.attr('data-visible', 'false');
                        item.properties.each(function () {
                            var self = $(this);
                            var property = self.data('property');
                            var values = self.find(item.properties.values);

                            values.each(function () {
                                var self = $(this);
                                var value = self.data('value');

                                self.on('click', function () {
                                    item.offers.setCurrentByValue(property, value);
                                });
                            });
                        });

                        api.each(item.offers.getList(), function (index, offer) {
                            api.each(offer.values, function (key, value) {
                                if (value == 0)
                                    return;

                                item.properties
                                    .filter('[data-property=' + key + ']')
                                    .attr('data-visible', 'true');
                            });
                        });

                        item.offers.on('change', function (event, offer, values) {
                            entity = offer;

                            api.each(values, function (state, values) {
                                api.each(values, function (property, values) {
                                    property = item.properties.filter('[data-property="' + property + '"]');

                                    api.each(values, function (index, value) {
                                        value = property.find(item.properties.values).filter('[data-value="' + value + '"]');
                                        value.attr('data-state', state);
                                    });
                                });
                            });

                            item.update();
                        });

                        item.offers.setCurrentById(item.offers.getList()[0].id);
                    }

                    item.expand = function () {
                        var rectangle = item[0].getBoundingClientRect();
                        var height = rectangle.bottom - rectangle.top;

                        if (expanded)
                            return;

                        expanded = true;
                        item.css('height', height);
                        item.attr('data-expanded', 'true');
                    };

                    item.narrow = function () {
                        if (!expanded)
                            return;

                        expanded = false;
                        item.attr('data-expanded', 'false');
                        item.css('height', '');
                    };

                    item.on('mouseenter', item.expand)
                        .on('mouseleave', item.narrow);

                    $(window).on('resize', function () {
                        if (expanded) {
                            item.narrow();
                            item.expand();
                        }
                    });
                });

                $(function () {
                    var slider = $('.owl-carousel', root);
                    var parameters = {'items': 1, 'nav': true, 'dots': false}
                    slider.owlCarousel({
                        'items': parameters.items,
                        'nav': parameters.nav,
                        'navText': [
                            '<i class="far fa-chevron-left"></i>',
                            '<i class="far fa-chevron-right"></i>'
                        ],
                        'dots': parameters.dots
                    });
                });
            };

            root.update();
        });
    })(jQuery, intec);

    (function ($, api) {
        var root = $('.c-system-video-tag');
        var tag = $('[data-role="tag"]', root);
        var settings = {
            'adaptation': {
                'use': true,
                'mode': 'cover'
            }
        };

        if (settings.adaptation.use) {
            var adapt = function () {
                tag.css({
                    'width': 'auto',
                    'height': 'auto'
                });

                var ratio = {
                    'horizontal': api.toFloat(((tag.width() / tag.height()) * 9).toFixed(2)),
                    'vertical': 9
                };

                var width = root.width();
                var widthRatio = width / ratio.horizontal;
                var height = root.height();
                var heightRatio = height / ratio.vertical;

                if (settings.adaptation.mode === 'cover') {
                    if (widthRatio > heightRatio) {
                        tag.css({
                            'height': width * ratio.vertical / ratio.horizontal
                        });
                    } else {
                        tag.css({
                            'width': height * ratio.horizontal / ratio.vertical
                        });
                    }
                } else {
                    if (widthRatio > heightRatio) {
                        tag.css({
                            'width': height * ratio.horizontal / ratio.vertical
                        });
                    } else {
                        tag.css({
                            'height': width * ratio.vertical / ratio.horizontal
                        });
                    }
                }
            };

            $(adapt);
            $(window).on('resize', adapt);

            tag.on('canplay canplaythrough loadeddata loadedmetadata', adapt);
        }
    })(jQuery, intec);
</script>
<script type="text/javascript">
    (function ($) {

        $(document).ready(function(){
            if (window.devicePixelRatio > 1) {
                var images = $('.widget-item-image-wrapper img, .basket-item-image-link img, .bx-soa-item-imgcontainer img');

                images.each(function(i) {
                    var lowres = $(this).attr('data-original');
                    var highres = lowres.replace(".", "@2x.");
                    $(this).attr('data-original', highres);
                });
            }
        });

    })(jQuery)
</script>

<script type="text/javascript">
    (function ($, api) {
        $(document).on('ready', function () {
            var root = $('#i-8-bitrix-menu-popup-3-LkGdQnW4WHwB');
            var menu = $('[data-role="menu"]', root);
            var buttons = {};
            var state = false;
            var scroll = $('[data-role="scroll"]', root);
            var scrollValue = 0;

            menu.items = $('[data-role="menu.item"]', menu);
            buttons.open = $('[data-action="menu.open"]', root);
            buttons.close = $('[data-action="menu.close"]', root);

            scroll.scrollbar();

            menu.open = function () {
                if (state) return;

                state = true;
                scrollValue = $(window).scrollTop();
                menu.css({
                    'display': 'block'
                }).stop().animate({
                    'opacity': 1
                }, 500);
            };

            menu.close = function () {
                if (!state) return;

                state = false;
                menu.stop().animate({
                    'opacity': 0
                }, 500, function () {
                    menu.css({
                        'display': 'none'
                    });
                });
            };

            $(window).on('scroll', function () {
                if (state && $(window).scrollTop() !== scrollValue)
                    $(window).scrollTop(scrollValue);
            });

            buttons.open.on('click', menu.open);
            buttons.close.on('click', menu.close);

            menu.items.each(function () {
                var item = $(this);
                var items = $('[data-role="menu.items"]', item).first();
                var buttons = {};
                var state = false;
                var expanded = item.data('expanded');

                buttons.toggle = $('[data-action="menu.item.toggle"]', item)
                    .not(items.find('[data-action="menu.item.toggle"]'))
                    .first();

                item.open = function () {
                    var height = {};

                    if (state) return;

                    state = true;
                    item.attr('data-expanded', 'true');

                    height.old = items.height();
                    items.css({
                        'height': 'auto'
                    });

                    height.new = items.height();
                    items.css({
                        'height': height.old
                    });

                    items.stop().animate({
                        'height': height.new
                    }, 350, function () {
                        items.css({
                            'height': 'auto'
                        })
                    })
                };

                item.close = function () {
                    if (!state) return;

                    state = false;
                    item.attr('data-expanded', 'false');

                    items.stop().animate({
                        'height': 0
                    }, 350);
                };

                if (expanded)
                    item.open();

                buttons.toggle.on('click', function () {
                    if (state) {
                        item.close();
                    } else {
                        item.open();
                    }
                });
            });
        })
    })(jQuery, intec);
</script>

<script type="text/javascript">
    (function ($, api) {
        $(document).on('ready', function () {
            var root = $('#i-12-bitrix-menu-popup-3-XEVOpkwAkIZ0');
            var menu = $('[data-role="menu"]', root);
            var buttons = {};
            var state = false;
            var scroll = $('[data-role="scroll"]', root);
            var scrollValue = 0;

            menu.items = $('[data-role="menu.item"]', menu);
            buttons.open = $('[data-action="menu.open"]', root);
            buttons.close = $('[data-action="menu.close"]', root);

            scroll.scrollbar();

            menu.open = function () {
                if (state) return;

                state = true;
                scrollValue = $(window).scrollTop();
                menu.css({
                    'display': 'block'
                }).stop().animate({
                    'opacity': 1
                }, 500);
            };

            menu.close = function () {
                if (!state) return;

                state = false;
                menu.stop().animate({
                    'opacity': 0
                }, 500, function () {
                    menu.css({
                        'display': 'none'
                    });
                });
            };

            $(window).on('scroll', function () {
                if (state && $(window).scrollTop() !== scrollValue)
                    $(window).scrollTop(scrollValue);
            });

            buttons.open.on('click', menu.open);
            buttons.close.on('click', menu.close);

            menu.items.each(function () {
                var item = $(this);
                var items = $('[data-role="menu.items"]', item).first();
                var buttons = {};
                var state = false;
                var expanded = item.data('expanded');

                buttons.toggle = $('[data-action="menu.item.toggle"]', item)
                    .not(items.find('[data-action="menu.item.toggle"]'))
                    .first();

                item.open = function () {
                    var height = {};

                    if (state) return;

                    state = true;
                    item.attr('data-expanded', 'true');

                    height.old = items.height();
                    items.css({
                        'height': 'auto'
                    });

                    height.new = items.height();
                    items.css({
                        'height': height.old
                    });

                    items.stop().animate({
                        'height': height.new
                    }, 350, function () {
                        items.css({
                            'height': 'auto'
                        })
                    })
                };

                item.close = function () {
                    if (!state) return;

                    state = false;
                    item.attr('data-expanded', 'false');

                    items.stop().animate({
                        'height': 0
                    }, 350);
                };

                if (expanded)
                    item.open();

                buttons.toggle.on('click', function () {
                    if (state) {
                        item.close();
                    } else {
                        item.open();
                    }
                });
            });
        })
    })(jQuery, intec);
</script>

<script type="text/javascript">
    $(document).on('ready', function () {
       $(document).on('click', '.menu-basket-panel-button',function () {
           $('.sale-basket-small-switch[data-tab="basket"]').click();
       });
    });
</script>


<script type="text/javascript">
    $(document).on('ready', function () {
       $(document).on('click', '.menu-item-name',function () {
           $(document).find('[data-action="menu.close"]').click();
       });
    });
</script>

