{% if config.terminals.items[currentTerminalId].map %}
    <div id="section-map">
        <script charset="utf-8" src="https://widgets.2gis.com/js/DGWidgetLoader.js"></script>
        {{ config.terminals.items[currentTerminalId].map|raw }}
    </div>
{% endif %}