<div class="container-9">
    <div class="container-10">
        <div class="container-11">
            <div id="i-5-intec-universe-sale-basket-small-notifications-1-l2XUFDyr_WBE"
                 class="ns-intec-universe c-sale-basket-small c-sale-basket-small-notifications-1">
                <div class="sale-basket-small-content">
                    <div class="sale-basket-small-products" data-role="container">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>