{% set basket = session.basket %}
{% set basketCount = basket|length %}
{% set items = {} %}
<div id="order-form-fields">
{% for product_id, quantity in basket %}
    {% set ids = product_id|split('_') %}
    {% set product_id = ids[0] %}
    {% set modifier_ids = ids|slice(1) %}
    {% set price = iiko.products[product_id].price %}
    {% if modifier_ids %}
        {% for modifier_id in modifier_ids %}
            {% set price = price + iiko.products[modifier_id].price %}
        {% endfor %}
    {% endif %}
    <input type="hidden" name="order[items][{{ loop.index0 }}][id]" value="{{ product_id }}">
    <input type="hidden" name="order[items][{{ loop.index0 }}][name]"
           value="{{ iiko.products[product_id].name }}">
    <input type="hidden" name="order[items][{{ loop.index0 }}][amount]" value="{{ quantity }}">
    <input type="hidden" name="order[items][{{ loop.index0 }}][code]"
           value="{{ iiko.products[product_id].code }}">
    <input type="hidden" name="order[items][{{ loop.index0 }}][sum]"
           value="{{ price * quantity }}">
    {% if modifier_ids %}
        {% for modifier_id in modifier_ids %}
            {% set group_modifier_id = iiko.products[product_id].groupModifiers[loop.index0].modifierId %}
            <input type="hidden" name="order[items][{{ loop.parent.loop.index0 }}][modifiers][{{ loop.index0 }}][id]"
                   value="{{ modifier_id }}">
            <input type="hidden" name="order[items][{{ loop.parent.loop.index0 }}][modifiers][{{ loop.index0 }}][name]"
                   value="{{ iiko.products[modifier_id].name }}">
            <input type="hidden" name="order[items][{{ loop.parent.loop.index0 }}][modifiers][{{ loop.index0 }}][amount]"
                   value="{{ quantity }}">
            <input type="hidden" name="order[items][{{ loop.parent.loop.index0 }}][modifiers][{{ loop.index0 }}][groupId]"
                   value="{{ group_modifier_id }}">
            <input type="hidden" name="order[items][{{ loop.parent.loop.index0 }}][modifiers][{{ loop.index0 }}][groupName]"
                   value="{{ iiko.groups[group_modifier_id].name }}">
        {% endfor %}
    {% endif %}
{% endfor %}
</div>