{% set basket = session.basket %}
{% set basketCount = basket|length %}
<div id="bx-soa-basket" data-visited="false" class="bx-soa-section bx-active">
    <div class="bx-soa-section-title-container">
        <h2 class="bx-soa-section-title">
            Корзина
            {# config.order.summary #}</h2>
    </div>

    <div class="bx-soa-section-content container-fluid">
        <div class="bx-soa-table-fade">
            <div style="overflow: auto hidden;">
                <div class="bx-soa-item-table">
                    {% for product_ids, quantity in basket %}
                        {% set ids = product_ids|split('_') %}
                        {% set product_id = ids[0] %}
                        {% set modifier_ids = ids|slice(1) %}
                        {% set price = iiko.products[product_id].price %}
                        {% if modifier_ids %}
                            {% for modifier_id in modifier_ids %}
                                {% set price = price + iiko.products[modifier_id].price %}
                            {% endfor %}
                        {% endif %}

                        <div class="bx-soa-item-tr bx-soa-basket-info bx-soa-item-tr-first basket_item" data-id="{{ product_ids }}">
                            <div class="bx-soa-item-td">
                                <div class="bx-soa-item-block">
                                    <div class="bx-soa-item-content">
                                        <div class="bx-soa-item-title">
                                                                            <span>{{ iiko.products[product_id].name }}
                                                                                {% if modifier_ids %}
                                                                                    {% set props = [] %}
                                                                                    {% for modifier_id in modifier_ids %}
                                                                                        {% set props = props|merge([iiko.products[modifier_id].name]) %}
                                                                                    {% endfor %}
                                                                                    ({{ props|join(', ') }})
                                                                                {% endif %}
                                                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="bx-soa-item-td-title visible-xs visible-sm">{{ config.order.summary_columns[1] }}
                                </div>
                                <div class="bx-soa-item-td-text"><strong
                                            class="bx-price">
                                        {{ price }} {{ config.currency_symbol }}</strong>
                                </div>
                            </div>
                            <div class="bx-soa-item-td bx-soa-item-properties bx-text-right">
                                <div class="bx-soa-item-td-title visible-xs visible-sm">
                                    {{ config.order.summary_columns[2] }}
                                </div>
                                <div class="bx-soa-item-td-text">
                                    <div class="basket-item-quantity-wrapper">
                                        <div class="basket-item-quantity"
                                             data-entity="basket-item-quantity-block">
                                            <div class="basket-item-quantity-counter intec-ui intec-ui-control-numeric intec-ui-scheme-current intec-ui-view-2 intec-ui-size-1">
                                                <button type="button"
                                                        class="intec-ui-part-decrement"
                                                        data-entity="basket-item-quantity-minus"
                                                        data-print="false">
                                                    -
                                                </button>
                                                <input type="text"
                                                       readonly=""
                                                       class="intec-ui-part-input"
                                                       value="{{ quantity }}"
                                                       data-entity="basket-item-quantity-field"
                                                       data-value="{{ quantity }}">
                                                <button type="button"
                                                        class="intec-ui-part-increment"
                                                        data-entity="basket-item-quantity-plus"
                                                        data-print="false">
                                                    +
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
</div>