<div class="container-46 intec-template-title">
    <div class="intec-content">
        <div class="intec-content-wrapper">
            <h1 class="intec-header">
                {{ current_page.title }}
            </h1>
        </div>
    </div>
</div>