{% if config.sections.categories %}
    <div class="container-220" style="opacity: 1; background-size: auto;">
        <div class="container-223" style="opacity: 1;">
            <div class="container-224"
                 style="opacity: 1; margin-top: 50px; margin-bottom: 50px; background-size: auto;">
                <div class="widget c-sections c-sections-template-1"
                     id="i-71-intec-universe-main-sections-template-1-DJ1BCWvCn043">
                    <div class="widget-wrapper intec-content intec-content-visible">
                        <div class="widget-wrapper-2 intec-content-wrapper">
                            <div class="widget-header">
                                <div class="widget-title align-center">
                                    {{ config.sections.categories.title }}
                                </div>
                            </div>
                            <div class="widget-content intec-grid intec-grid-wrap intec-grid-a-v-stretch intec-grid-a-h-center">
                                {% for group in iiko.groups %}
                                    {% if group.isIncludedInMenu %}
                                    <div class="widget-element-wrap intec-grid-item-5 intec-grid-item-900-4 intec-grid-item-700-3 intec-grid-item-550-2 intec-grid-item-350-1">
                                        <div class="widget-element">
                                            <a class="widget-element-picture-block"
                                               href="#section-{{ group.id }}">
                                                <div class="widget-element-picture-wrap intec-image intec-image-effect">
                                                    <div class="intec-aligner"></div>
                                                    {% set imgObj = group.images[0] %}
                                                    {% if imgObj %}
                                                        {% set img = img_resize(imgObj.imageId,imgObj.imageUrl, 'thumbnail') %}
                                                    {% else %}
                                                        {% set img = config.productGroups.items[group.id].img|default(config.placeholder_img) %}
                                                    {% endif %}
                                                    <img alt=""
                                                         class="widget-element-picture"
                                                         data-lazyload-use="true"
                                                         data-original="{{ img }}"
                                                         loading="lazy"
                                                         src="{{ theme_url }}/img/picture.loading.svg">
                                                </div>
                                            </a>
                                            <div class="widget-element-name-wrap">
                                                <a class="widget-element-name intec-cl-text-hover"
                                                   href="#section-{{ group.id }}" style="text-transform: capitalize">
                                                    {{ group.name }} </a>
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}
