{% if product.groupModifiers is not empty %}
    {% set productPriceText = 'от ' ~ product.price ~ ' ' ~config.currency_symbol %}
{% else %}
    {% set productPriceText = product.price ~ ' ' ~config.currency_symbol %}
{% endif %}
{% set productData = {"id":product.id,"prices":[{"quantity":{"from":null,"to":null},"base":{"value": product.price,"display":  productPriceText},"discount":{"use":false,"percent":0,"value": product.price,"display": productPriceText,"difference":"0"}}],"available":true,"quantity":{"value":1,"ratio":1,"measure":"шт","trace":false,"zero":false},"name": product.name,"properties":[],"quickView": {"show": true,},"offers":[]} %}
<div id="item-{{ product.id }}" class="widget-item intec-grid-item-4 intec-grid-item-500-2 intec-grid-item-700-2 intec-grid-item-720-3 intec-grid-item-950-2 intec-grid-item-1200-3"
     data-data='{{ productData|json_encode() }}'
     data-expanded="false"
     data-id="{{ product.id }}"
     data-role="item"
     id="item-{{ product.id }}">
    <div class="widget-item-wrapper"
         data-borders-style="rounded">
        <div class="widget-item-base">
            <div class="widget-item-image-container">
                <div class="widget-item-image intec-image"
                     data-offer="false"
                     data-role="image"
                     data-view="default">
                    <a class="widget-item-image-wrapper intec-image-effect"
                       data-role="quick.view"
                       href="#" >
                        <div class="intec-aligner"></div>
                        {% set imgObj  = product.images[0] %}
                        {% if imgObj %}
                            {% set img = img_resize(imgObj.imageId,imgObj.imageUrl, 'thumbnail') %}
                        {% else %}
                            {% set img = config.products.items[product.id].img|default(config.placeholder_img) %}
                        {% endif %}
                        <img alt="{{ product.name }}"
                             data-lazyload-use="true"
                             data-original="{{ img }}"
                             loading="lazy"
                             src="{{ theme_url }}/img/picture.loading.svg"
                             title="{{ product.name }}">
                    </a>
                </div>
                <!--noindex-->
                <div class="widget-item-marks">
                    <div class="widget c-markers c-markers-template-1"
                         data-orientation="horizontal">
                        {% if config.products.items[product.id].new %}
                            <div class="widget-markers-wrap">
                                <div class="widget-markers widget-markers-new">
                                    Новинка
                                </div>
                            </div>
                        {% endif %}
                        {% if config.products.items[product.id].recommend %}
                            <div class="widget-markers-wrap">
                                <div class="widget-markers widget-markers-recommend">
                                    Рекомендуем
                                </div>
                            </div>
                        {% endif %}
                        {% if config.products.items[product.id].hit %}
                            <div class="widget-markers-wrap">
                                <div class="widget-markers widget-markers-hit">
                                    Хит
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <!--/noindex-->
            </div>
            <!--noindex-->
            <div class="widget-item-vote"
                 data-align="left">
                <div class="ns-bitrix c-iblock-vote c-iblock-vote-template-1">
                    <div class="iblock-vote-rating"
                         data-role="container">
                        {% set rating = config.products.items[product.id].rating|default(5) %}
                        {% for i in 1..rating %}
                            <i class="iblock-vote-rating-item intec-ui-icon intec-ui-icon-star-1"
                               data-active="true"
                               data-role="container.vote"
                               data-value="{{ i }}"
                               title="{{ i }}"></i>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <!--/noindex-->
            <div class="widget-item-name"
                 data-align="left">
                <a class="intec-cl-text-hover"
                   data-role=""
                   href="#">{{ product.name }}</a>
            </div>
            <div class="widget-item-price"
                 data-discount="false"
                 data-role="item.price"
                 data-show="1">
                <div class="widget-item-price-wrapper intec-grid intec-grid-wrap intec-grid-i-5 intec-grid-a-v-center intec-grid-a-h-start">
                    <div class="intec-grid-item-auto">
                        <div class="widget-item-price-discount"
                             data-role="item.price.discount">
                            {{ productPriceText }}
                        </div>
                        <div class="widget-item-price-base"
                             data-role="item.price.base">
                            {{ productPriceText }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="widget-item-advanced">
            <div class="widget-item-purchase-container intec-grid intec-grid-a-v-center">

                {% if product.groupModifiers is empty %}
                    <div class="widget-item-counter intec-grid-item">
                        <div class="intec-ui intec-ui-control-numeric intec-ui-view-1 intec-ui-scheme-current"
                             data-role="item.counter">
                            <a class="intec-ui-part-decrement"
                               href="javascript:void(0)"
                               data-type="button"
                               data-action="decrement">-</a>
                            <input type="text"
                                   class="intec-ui-part-input"
                                   value="0"
                                   data-type="input">
                            <a class="intec-ui-part-increment"
                               href="javascript:void(0)"
                               data-type="button"
                               data-action="increment">+</a>
                        </div>
                    </div>
                    <div class="widget-item-purchase intec-grid-item intec-grid-item-shrink-1">
                        <div class="widget-item-purchase-buttons" data-offer="false">
                            <div class="intec-ui intec-ui-control-basket-button widget-item-purchase-button widget-item-purchase-button-add intec-cl-background intec-cl-background-light-hover"
                                 data-basket-id="{{ product.id }}"
                                 data-basket-action="add"
                                 data-basket-state="none"
                                 data-basket-quantity="1"
                                 data-basket-price="1">
                                <span class="intec-ui-part-content">+ В корзину</span>
                                <span class="intec-ui-part-effect intec-ui-part-effect-bounce">
                                                                                                                <span class="intec-ui-part-effect-wrapper">
                                                                                                                    <i></i><i></i><i></i>
                                                                                                                </span>
                                                                                                            </span>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="widget-item-purchase intec-grid-item intec-grid-item-shrink-1" data-role="quick.view">
                        <div class="widget-item-purchase-buttons" data-offer="false">
                            <div class="intec-ui intec-ui-control-basket-button widget-item-purchase-button widget-item-purchase-button-add intec-cl-background intec-cl-background-light-hover">
                                <span class="intec-ui-part-content">+ В корзину</span>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        <!--/noindex-->
    </div>
</div>