<div class="container-185" style="opacity: 1; background-size: auto;">
    <div class="container-190" style="opacity: 1;">
        <div class="container-191"
             style="opacity: 1; margin-top: 50px; margin-bottom: 50px; background-size: auto;">
            <div class="widget c-widget c-widget-products-2"
                 data-borders="false" data-button="true"
                 data-columns-desktop="4" data-columns-mobile="2"
                 data-indents="true"
                 data-properties=""
                 data-tabs="true" id="i-26-bitrix-catalog-section-default-OQ3k9PHlVICg">
                <div class="widget-wrapper intec-content intec-content-visible">
                    <div class="widget-wrapper-2 intec-content-wrapper">
                        <div class="widget-content">
                            <div class="widget-sections">
                                {% set groupIds = [] %}
                                {% for group in iiko.groups %}
                                    {% if group.isIncludedInMenu %}

                                        <div class="widget-section">
                                            <div id="section-{{ group.id }}">
                                                <div class="widget-section-name intec-template-part intec-template-part-title"
                                                     data-align="center"
                                                     style="text-transform: capitalize">{{ group.name }}</div>
                                                <div class="widget-section-content">
                                                    <div class="widget-items intec-grid intec-grid-wrap intec-grid-a-v-stretch intec-grid-a-h-start intec-grid-i-10">

                                                        {% for product in iiko.products %}
                                                            {% if product.parentGroup == group.id %}
                                                                {% include '_partials/product.twig' %}
                                                            {% endif %}
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% set groupIds = groupIds|merge([group.id]) %}
                                    {% endif %}
                                {% endfor %}
                                {% if request.mode == 'dev' %}
                                <div class="widget-section">
                                    <div>
                                        <div class="widget-section-content">
                                            <div class="widget-items intec-grid intec-grid-wrap intec-grid-a-v-stretch intec-grid-a-h-start intec-grid-i-10">
                                                {% for product in iiko.products %}
                                                    {% if product.parentGroup not in groupIds and product.type == 'dish' %}
                                                        {% include '_partials/product.twig' %}
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>