{% if config.sections.promotions %}
    <div class="container-257" style="opacity: 1;" id="section-promotions">
        <div class="container-260" style="opacity: 1;">
            <div class="container-261" style="opacity: 1; margin-top: 50px; margin-bottom: 50px;">
                <div class="widget c-shares c-shares-template-2">
                    <div class="widget-wrapper intec-content">
                        <div class="widget-wrapper-2 intec-content-wrapper">
                            <div class="widget-header">
                                <div class="widget-title align-center">
                                    {{ config.sections.promotions.title }}
                                </div>
                            </div>
                            <div class="widget-content intec-grid intec-grid-wrap intec-grid-a-v-stretch intec-grid-a-h-start intec-grid-i-7">
                                {% for promotion in config.sections.promotions.items %}
                                    <div class="widget-element-wrap intec-grid-item-2 intec-grid-item-768-1 intec-grid-item-500-2 intec-grid-item-425-1">
                                        <div class="widget-element">
                                            <div class="intec-grid intec-grid-nowrap intec-grid-500-wrap intec-grid-a-v-start intec-grid-a-h-center">
                                                <div class="widget-element-picture-wrap intec-grid-item-auto intec-grid-item-500-1">
                                                    <div class="widget-element-picture intec-image-effect"
                                                         data-lazyload-use="true"
                                                         data-original="{{ promotion.img }}"></div></div>
                                                <div class="widget-element-text intec-grid-item intec-grid-item-shrink-1 intec-grid-item-500-1">
                                                    <div class="widget-element-date">
                                                        {{ promotion.date }}
                                                    </div>
                                                    <div class="widget-element-name">{{ promotion.title }}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}