{% if config.terminals.items[currentTerminalId].reviews %}
    <div class="container-265" style="opacity: 1;" id="section-reviews">
        <div class="container-270" style="opacity: 1;">
            <div class="container-271" style="opacity: 1; margin-top: 50px; margin-bottom: 50px;">
                <div class="widget c-reviews c-reviews-template-5"
                     id="i-73-intec-universe-main-reviews-template-5-tmM8CssPei3V">
                    <div class="widget-wrapper intec-content">
                        <div class="widget-wrapper-2 intec-content-wrapper">
                            <div class="widget-header">
                                <div class="widget-title align-center">
                                    {{ config.sections.reviews.title }}
                                </div>
                            </div>
                            <div class="widget-content">
                                <div class="widget-items intec-grid intec-grid-wrap intec-grid-a-v-stretch intec-grid-i-h-7 intec-grid-i-v-7">
                                    {% for review in config.terminals.items[currentTerminalId].reviews %}
                                        <div class="widget-item intec-grid-item-4 intec-grid-item-1024-3 intec-grid-item-850-2 intec-grid-item-600-1">
                                            <div class="widget-item-wrapper">
                                                <div class="widget-item-description">
                                                    {{ review.text|raw }}
                                                </div>
                                                <div class="widget-item-person intec-grid intec-grid-a-v-center intec-grid-600-wrap">
                                                    <div class="intec-grid-item-auto intec-grid-item-600-1">
                                                        <div class="widget-item-picture intec-image-effect"
                                                             data-lazyload-use="true"
                                                             data-original="{{ review.img }}"
                                                             style=""></div>
                                                    </div>
                                                    <div class="intec-grid-item intec-grid-item-600-1">
                                                        <div class="widget-item-name">{{ review.forename }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}