<div class="menu-content">
    <div class="menu-content-wrapper intec-grid intec-grid-nowrap intec-grid-a-v-stretch">
        <div class="menu-content-items intec-grid-item">
            <div class="scroll-wrapper menu-content-items-wrapper scroll-mod-hiding scrollbar-inner"
                 style="position: relative;">
                <div class="menu-content-items-wrapper scroll-mod-hiding scrollbar-inner scroll-content"
                     data-role="scroll"
                     style="height: 100px; margin-bottom: 0px; margin-right: 0px; max-height: none;">
                    <div class="menu-content-items-wrapper-2">
                        <div class="menu-content-catalog">
                            {% for menu_item in config.top_menu %}
                                {% if  menu_item.catalog %}
                            <div class="menu-content-catalog-title-wrap">
                                                    <span class="menu-content-catalog-icon">
                                                        <svg width="18" height="18" viewBox="0 0 18 18" fill="none"
                                                             xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M3.16667 10.6667C2.24583 10.6667 1.5 9.92084 1.5 9.00001C1.5 8.07918 2.24583 7.33334 3.16667 7.33334C4.0875 7.33334 4.83333 8.07918 4.83333 9.00001C4.83333 9.92084 4.0875 10.6667 3.16667 10.6667Z"
                                                                  stroke="#B0B0B0" stroke-width="1.5"
                                                                  stroke-linecap="round" stroke-linejoin="round"></path>
                                                            <path d="M8.99992 10.6667C8.07909 10.6667 7.33325 9.92084 7.33325 9.00001C7.33325 8.07918 8.07909 7.33334 8.99992 7.33334C9.92075 7.33334 10.6666 8.07918 10.6666 9.00001C10.6666 9.92084 9.92075 10.6667 8.99992 10.6667Z"
                                                                  stroke="#B0B0B0" stroke-width="1.5"
                                                                  stroke-linecap="round" stroke-linejoin="round"></path>
                                                            <path d="M14.8334 10.6667C13.9126 10.6667 13.1667 9.92084 13.1667 9.00001C13.1667 8.07918 13.9126 7.33334 14.8334 7.33334C15.7542 7.33334 16.5001 8.07918 16.5001 9.00001C16.5001 9.92084 15.7542 10.6667 14.8334 10.6667Z"
                                                                  stroke="#B0B0B0" stroke-width="1.5"
                                                                  stroke-linecap="round" stroke-linejoin="round"></path>
                                                            <path d="M3.16667 16.5C2.24583 16.5 1.5 15.7542 1.5 14.8333C1.5 13.9125 2.24583 13.1667 3.16667 13.1667C4.0875 13.1667 4.83333 13.9125 4.83333 14.8333C4.83333 15.7542 4.0875 16.5 3.16667 16.5Z"
                                                                  stroke="#B0B0B0" stroke-width="1.5"
                                                                  stroke-linecap="round" stroke-linejoin="round"></path>
                                                            <path d="M8.99992 16.5C8.07909 16.5 7.33325 15.7542 7.33325 14.8333C7.33325 13.9125 8.07909 13.1667 8.99992 13.1667C9.92075 13.1667 10.6666 13.9125 10.6666 14.8333C10.6666 15.7542 9.92075 16.5 8.99992 16.5Z"
                                                                  stroke="#B0B0B0" stroke-width="1.5"
                                                                  stroke-linecap="round" stroke-linejoin="round"></path>
                                                            <path d="M14.8334 16.5C13.9126 16.5 13.1667 15.7542 13.1667 14.8333C13.1667 13.9125 13.9126 13.1667 14.8334 13.1667C15.7542 13.1667 16.5001 13.9125 16.5001 14.8333C16.5001 15.7542 15.7542 16.5 14.8334 16.5Z"
                                                                  stroke="#B0B0B0" stroke-width="1.5"
                                                                  stroke-linecap="round" stroke-linejoin="round"></path>
                                                            <path d="M3.16667 4.83333C2.24583 4.83333 1.5 4.0875 1.5 3.16667C1.5 2.24583 2.24583 1.5 3.16667 1.5C4.0875 1.5 4.83333 2.24583 4.83333 3.16667C4.83333 4.0875 4.0875 4.83333 3.16667 4.83333Z"
                                                                  stroke="#B0B0B0" stroke-width="1.5"
                                                                  stroke-linecap="round" stroke-linejoin="round"></path>
                                                            <path d="M8.99992 4.83333C8.07909 4.83333 7.33325 4.0875 7.33325 3.16667C7.33325 2.24583 8.07909 1.5 8.99992 1.5C9.92075 1.5 10.6666 2.24583 10.6666 3.16667C10.6666 4.0875 9.92075 4.83333 8.99992 4.83333Z"
                                                                  stroke="#B0B0B0" stroke-width="1.5"
                                                                  stroke-linecap="round" stroke-linejoin="round"></path>
                                                            <path d="M14.8334 4.83333C13.9126 4.83333 13.1667 4.0875 13.1667 3.16667C13.1667 2.24583 13.9126 1.5 14.8334 1.5C15.7542 1.5 16.5001 2.24583 16.5001 3.16667C16.5001 4.0875 15.7542 4.83333 14.8334 4.83333Z"
                                                                  stroke="#B0B0B0" stroke-width="1.5"
                                                                  stroke-linecap="round" stroke-linejoin="round"></path>
                                                        </svg>
                                                    </span>
                                <a class="menu-content-catalog-title intec-cl-text-hover"
                                   href="#" rel="nofollow">{{ menu_item.title }}</a></div>
                            <div class="menu-content-catalog-items">
                                <div class="menu-content-items-wrapper-3 intec-grid intec-grid-wrap intec-grid-a-v-begin intec-grid-a-h-begin intec-grid-i-h-10">
                                    {% for group in iiko.groups %}
                                    {% if group.isIncludedInMenu %}
                                    <div class="menu-item menu-item-level-0 intec-grid-item-3 intec-grid-item-768-2"><a class="menu-item-name intec-cl-text-hover"
                                                href="{% if current_page.id != 'index' %}/{% endif %}#section-{{ group.id }}">{{ group.name }}</a>
                                        <div class="menu-item-items">
                                            {% for product in iiko.products %}
                                            {% if product.parentGroup == group.id %}
                                            <div class="menu-item menu-item-level-1">
                                                <div class="menu-item-content intec-grid intec-grid-nowrap intec-grid-a-v-center intec-grid-i-h-4">
                                                    <div class="intec-grid-item-auto intec-grid-item-shrink-1">
                                                        <a class="menu-item-name intec-cl-text-hover"
                                                           href="{% if current_page.id != 'index' %}/{% endif %}#item-{{ product.id }}">{{ product.name }}</a>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>

                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </div>

                            {% endif %}
                            {% endfor %}
                        </div>
                        <div class="menu-content-other-items">
                            <div class="menu-content-items-wrapper-3 intec-grid intec-grid-wrap intec-grid-a-v-begin intec-grid-a-h-begin intec-grid-i-h-10"
                                 >
                                {% for menu_item in config.top_menu %}
                                {% if  not menu_item.catalog %}
                                <div class="menu-item menu-item-level-0 intec-grid-item-3 intec-grid-item-768-2"
                                     ><a
                                            class="menu-item-name intec-cl-text-hover"
                                            href="{% if current_page.id != 'index' %}/{% endif %}{{ menu_item.url }}">{{ menu_item.title }}</a></div>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="scroll-element scroll-x" style="">
                    <div class="scroll-element_outer">
                        <div class="scroll-element_size"></div>
                        <div class="scroll-element_track"></div>
                        <div class="scroll-bar"></div>
                    </div>
                </div>
                <div class="scroll-element scroll-y" style="">
                    <div class="scroll-element_outer">
                        <div class="scroll-element_size"></div>
                        <div class="scroll-element_track"></div>
                        <div class="scroll-bar"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="menu-content-contacts-wrap intec-grid-item-4">
            <div class="menu-content-feedback-wrap">
                <a href="https://wa.me/{{ config.phone|replace(phone_clean_replacement) }}" target="_blank" class="intec-ui intec-ui-control-button intec-ui-mod-round-4 intec-ui-mod-transparent intec-ui-scheme-current menu-content-feedback">Задать вопрос</a>
            </div>

            <div id="i-11-intec-universe-sale-basket-small-template-1-608UOFCiF-jS"
                 class="menu-basket">
                <!--noindex-->
                <div class="menu-basket-panel intec-content-wrap"
                     data-role="panel">
                    <div class="menu-basket-panel-wrapper">
                        {% include '_partials/top_menu_cart_button.twig' %}
                    </div>
                </div>
                <!--/noindex-->
            </div>

            <div class="menu-content-contacts">
                <div class="menu-content-contacts-items">
                    <div class="menu-content-contacts-address intec-grid intec-grid-a-v-center intec-grid-i-h-4">
                                                    <span class="menu-content-contacts-icon intec-grid-item-auto">
                                                        <i class="fal fa-map"></i>
                                                    </span>
                        <span class="intec-grid-item">

                                                                    {{ iiko.deliveryTerminals[currentTerminalId].address }}                                                    </span>
                    </div>
                    <a class="menu-content-contacts-mail intec-grid intec-grid-a-v-center intec-grid-i-h-4 intec-cl-text-hover"
                       href="mailto:{{ config.email }}">                                                    <span
                                class="menu-content-contacts-icon intec-grid-item-auto">
                                                        <i class="fal fa-envelope"></i>
                                                    </span>
                        <span class="intec-grid-item">
                                                        {{ config.email }}                                                    </span>
                    </a></div>
            </div>
            {% if config.terminals.items[currentTerminalId].social %}

                <div class="menu-content-social">
                    <div class="menu-content-social-icons intec-grid intec-grid-nowrap intec-grid-i-h-6">
                        {% for name, url in config.terminals.items[currentTerminalId].social %}
                            {% if url %}
                                <div class="menu-content-social-icon-wrap intec-grid-item-auto">
                                    <a class="menu-content-social-icon intec-cl-border-hover intec-cl-background-hover"
                                       href="{{ url }}" target="_blank"> <i
                                                class="fab fa-{{ name }}"></i>
                                    </a></div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>