{% set basket = session.basket %}
{% set basketCount = basket|length %}
<div class="menu-basket-panel-button-wrap">
    <a class="menu-basket-panel-button intec-grid intec-grid-a-v-center intec-grid-i-h-4 intec-cl-text-hover">
                                <span
                                        class="menu-basket-panel-button-icon intec-grid-item-auto">
                                <i class="icon-basket glyph-icon-cart"></i>
                            </span>
        <span class="menu-basket-panel-button-text intec-grid-item-auto">
                                Корзина                            </span>
        {% if basketCount %}
        <span class="menu-basket-panel-button-counter intec-grid-item-auto intec-cl-background">{{ basketCount }}</span>
        {% endif %}
    </a></div>