<div class="widget-menu-wrap intec-grid-item intec-grid-item-a-stretch">
    <div class="widget-item widget-menu">
        <div id="i-16-bitrix-menu-horizontal-1-g8taYvoNj68S"
             class="ns-bitrix c-menu c-menu-horizontal-1 menu-initialized menu-adapted"
             data-role="menu" data-uppercase="false" data-transparent="true"
             data-section-view="images" data-submenu-view="simple.1">
            <div class="menu-wrapper menu-transparent">
                <div class="menu-wrapper-2 intec-content">
                    <div class="menu-wrapper-3 intec-content-wrapper">
                        <div class="menu-wrapper-4 intec-grid intec-grid-nowrap intec-grid-a-h-start intec-grid-a-v-stretch"
                             data-role="items">
                            {% for menu_item in config.top_menu %}
                                {% if menu_item.catalog %}
                                <div class="intec-grid-item-auto menu-item menu-item-section"
                                     data-role="item" data-level="0"
                                     style="display: none; width: auto;"><a
                                            class="menu-item-text" href="#">
                                        <div class="intec-aligner"></div>
                                        <div class="menu-item-text-wrapper intec-cl-text">
                                            {{ menu_item.title }}
                                        </div>
                                    </a>
                                    <div class="menu-submenu menu-submenu-1"
                                         data-role="menu" data-columns="3">
                                        <div class="menu-submenu-wrapper">
                                            {% for group in iiko.groups %}
                                                {% if group.isIncludedInMenu %}
                                                    <div class="menu-submenu-section menu-submenu-section-with-images">
                                                        <div class="menu-submenu-section-wrapper">
                                                            {% set imgObj = group.images[0] %}
                                                            {% if imgObj %}
                                                                {% set img = img_resize(imgObj.imageId,imgObj.imageUrl, 'preview') %}
                                                            {% else %}
                                                                {% set img = config.productGroups.items[group.id].img|default(config.placeholder_img) %}
                                                            {% endif %}
                                                            <div class="menu-submenu-section-image intec-image-effect"
                                                                 data-lazyload-use="true"
                                                                 data-original="{{ img }}"
                                                                 style=""></div>
                                                            <div class="menu-submenu-section-links">
                                                                <div class="menu-submenu-section-header">
                                                                    <a class="menu-submenu-section-header-wrapper intec-cl-text-hover"
                                                                       href="{% if current_page.id != 'index' %}/{% endif %}#section-{{ group.id }}" style="text-transform: capitalize">
                                                                        {{ group.name }} </a>
                                                                </div>
                                                                <div class="menu-submenu-section-items">
                                                                    {% for product in iiko.products %}
                                                                        {% if product.parentGroup == group.id %}
                                                                        <div class="menu-submenu-section-items-wrapper">
                                                                            <div class="menu-submenu-section-item">
                                                                                <a class="menu-submenu-section-item-wrapper intec-cl-text-hover"
                                                                                   href="{% if current_page.id != 'index' %}/{% endif %}#item-{{ product.id }}">{{ product.name }} </a></div>
                                                                        </div>
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                </div>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                {% else %}
                                <div class="intec-grid-item-auto menu-item menu-item-default"
                                     data-role="item" data-level="0"
                                     style="display: none; width: auto;"><a
                                            class="menu-item-text" href="{{ menu_item.url }}">
                                        <div class="intec-aligner"></div>
                                        <div class="menu-item-text-wrapper intec-cl-text">
                                            {{ menu_item.title }}
                                        </div>
                                    </a></div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>