<div class="widget-view widget-view-mobile">
    <div class="widget-view-mobile-2 intec-content-wrap">
        <div class="widget-wrapper intec-content intec-content-visible intec-content-primary">
            <div class="widget-wrapper-2 intec-content-wrapper">
                <div class="widget-wrapper-3 intec-grid intec-grid-nowrap intec-grid-i-h-10 intec-grid-a-v-center">
                    <div class="widget-menu-wrap intec-grid-item-auto">
                        <div class="widget-item widget-menu">

                            <div class="ns-bitrix c-menu c-menu-mobile-2"
                                 id="i-20-bitrix-menu-mobile-2-NMQc3w6cRZPp">
                                <div class="menu-button intec-cl-text-hover"
                                     data-action="menu.open">
                                    <i class="menu-button-icon glyph-icon-menu-icon"></i>
                                </div>
                                <div class="menu" data-border-show="true"
                                     data-information="view.2" data-regionality="true"
                                     data-role="menu" data-search-type="page">
                                    <div class="menu-panel">
                                        <div class="menu-panel-wrapper intec-grid intec-grid-nowrap intec-grid-i-h-10 intec-grid-a-v-center">
                                            <div class="menu-panel-button-wrap intec-grid-item-auto">
                                                <div class="menu-panel-button intec-cl-text-hover"
                                                     data-action="menu.close">
                                                    <i class="glyph-icon-cancel"></i>
                                                </div>
                                            </div>
                                            <div class="menu-panel-logotype-wrap intec-grid-item">
                                                <a class="menu-panel-logotype intec-image" href="/">
                                                    <div class="intec-aligner"></div>
                                                    <div class="logo-wrapper logo-wrapper-mobile-menu">
                                                        <img src="{{ config.terminals.items[currentTerminalId].logo }}" alt="{{ config.terminals.items[currentTerminalId].site_title }}" title="{{ config.terminals.items[currentTerminalId].site_title }}">
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="menu-content" data-current="true"
                                         data-role="item">
                                        <div class="menu-content-wrapper">
                                            <div class="menu-items" data-role="items">
                                                {% for menu_item in config.top_menu %}
                                                    {% if menu_item.catalog %}
                                                        <div class="menu-item menu-item-level-0"
                                                             data-current="false"
                                                             data-expanded="false"
                                                             data-level="0"
                                                             data-role="item">
                                                            <div class="menu-item-wrapper">
                                                                <div class="menu-item-content intec-cl-text-hover"
                                                                     data-action="menu.item.open">
                                                                    <div class="intec-grid intec-grid-nowrap intec-grid-i-h-10 intec-grid-a-v-center">
                                                                        <div class="menu-item-text-wrap intec-grid-item intec-grid-item-shrink-1">
                                                                            <div class="menu-item-text">
                                                                                {{ menu_item.title }}
                                                                            </div>
                                                                        </div>
                                                                        <div class="menu-item-icon-wrap intec-grid-item-auto">
                                                                            <div class="menu-item-icon">
                                                                                <i class="far fa-angle-right"></i>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="menu-item-items"
                                                                     data-role="items">
                                                                    <div class="menu-item menu-item-level-1 menu-item-button"
                                                                         data-level="1">
                                                                        <div class="menu-item-wrapper">
                                                                            <div class="menu-item-content intec-cl-text-hover"
                                                                                 data-action="menu.item.close">
                                                                                <div class="intec-grid intec-grid-nowrap intec-grid-i-h-10 intec-grid-a-v-center">
                                                                                    <div class="menu-item-icon-wrap intec-grid-item-auto">
                                                                                        <div class="menu-item-icon">
                                                                                            <i class="far fa-angle-left"></i>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="menu-item-text-wrap intec-grid-item intec-grid-item-shrink-1">
                                                                                        <div class="menu-item-text">
                                                                                            Назад
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="menu-item menu-item-level-1 menu-item-title"
                                                                         data-level="1">
                                                                        <div class="menu-item-wrapper">
                                                                            <a class="menu-item-content"
                                                                               data-action="menu.close"
                                                                               href="#">{{ menu_item.title }}</a>
                                                                        </div>
                                                                    </div>

                                                                    {% for group in iiko.groups %}
                                                                        {% if group.isIncludedInMenu %}
                                                                            <div class="menu-item menu-item-level-1"
                                                                                 data-current="false"
                                                                                 data-expanded="false"
                                                                                 data-level="1"
                                                                                 data-role="item">
                                                                                <div class="menu-item-wrapper">
                                                                                    <a class="menu-item-content intec-cl-text-hover"
                                                                                       style="text-transform: capitalize"
                                                                                       data-action="menu.item.open"
                                                                                       href="{% if current_page.id != 'index' %}/{% endif %}#section-{{ group.id }}">
                                                                                        <div class="intec-grid intec-grid-nowrap intec-grid-i-h-10 intec-grid-a-v-center">
                                                                                            <div class="menu-item-text-wrap intec-grid-item intec-grid-item-shrink-1">
                                                                                                <div class="menu-item-text">
                                                                                                    {{ group.name }}
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="menu-item-icon-wrap intec-grid-item-auto">
                                                                                                <div class="menu-item-icon">
                                                                                                    <i class="far fa-angle-right"></i>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </a>
                                                                                </div>
                                                                            </div>
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% else %}
                                                        <div class="menu-item menu-item-level-0"
                                                             data-current="false"
                                                             data-expanded="false"
                                                             data-level="0"
                                                             data-role="item">
                                                            <div class="menu-item-wrapper">
                                                                <a class="menu-item-content intec-cl-text-hover"
                                                                   data-action="menu.close"
                                                                   href="{% if current_page.id != 'index' %}/{% endif %}{{ menu_item.url }}">
                                                                    <div class="intec-grid intec-grid-nowrap intec-grid-i-h-10 intec-grid-a-v-center">
                                                                        <div class="menu-item-text-wrap intec-grid-item intec-grid-item-shrink-1">
                                                                            <div class="menu-item-text">
                                                                                {{ menu_item.title }}
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </a></div>
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}
                                                <div class="menu-item menu-item-level-0 menu-item-extra menu-item-regionality"
                                                     data-role="item" data-level="0" data-expanded="false"
                                                     data-current="false">
                                                    <div class="menu-item-wrapper">
                                                        <div class="menu-item-content intec-cl-text-hover">
                                                            <div class="menu-information-button intec-grid intec-grid-a-v-center"
                                                                 data-action="menu.item.open">
                                                                <div class="intec-grid-item-auto">
                                                                    <i class="menu-information-icon fas fa-map-pin"></i>
                                                                </div>
                                                                <div class="intec-grid-item">
                                                                                <span class="menu-item-text">
                                                                                    {{ iiko.deliveryTerminals[currentTerminalId].deliveryRestaurantName }}
                                                                                </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="menu-item-items" data-role="items">
                                                            <div class="menu-item menu-item-level-1 menu-item-button"
                                                                 data-level="1">
                                                                <div class="menu-item-wrapper">
                                                                    <div class="menu-item-content intec-cl-text-hover"
                                                                         data-action="menu.item.close">
                                                                        <div class="intec-grid intec-grid-nowrap intec-grid-i-h-10 intec-grid-a-v-center">
                                                                            <div class="menu-item-icon-wrap intec-grid-item-auto">
                                                                                <div class="menu-item-icon">
                                                                                    <i class="far fa-angle-left"></i>
                                                                                </div>
                                                                            </div>
                                                                            <div class="menu-item-text-wrap intec-grid-item intec-grid-item-shrink-1">
                                                                                <div class="menu-item-text">
                                                                                    Назад
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            {% for terminal in iiko.deliveryTerminals %}
                                                                <div class="menu-item menu-item-level-1 menu-item-button"
                                                                     data-action="menu.close"
                                                                     data-role="item"
                                                                     data-region="{{ terminal.deliveryTerminalId }}"
                                                                     data-level="1"
                                                                     data-current="false">
                                                                    <div class="menu-item-wrapper">
                                                                        <a href="/set_terminal_id.php?region={{ terminal.deliveryTerminalId }}"
                                                                           class="menu-item-content intec-cl-text-hover">
                                                                            {{ terminal.deliveryRestaurantName }}
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="menu-item menu-item-level-0 menu-item-extra menu-information"
                                                     data-current="false"
                                                     data-expanded="false"
                                                     data-level="0"
                                                     data-role="item">
                                                    <div class="menu-item-wrapper">
                                                        <div class="menu-item-content"
                                                             data-action="menu.item.open">
                                                            <div class="menu-information-items">
                                                                <div class="menu-information-item menu-information-address">
                                                                    <span> {{ iiko.deliveryTerminals[currentTerminalId].address }}</span>
                                                                </div>
                                                                <div class="menu-information-item menu-information-phone-wrap">
                                                                    <div data-role="phones"
                                                                         data-state="close">
                                                                        <a class="menu-information-phone menu-information-text"
                                                                           data-role="phone.button"
                                                                           href="tel:{{ config.phone|replace(phone_clean_replacement) }}">
                                                                            <i class="menu-information-icon fas fa-phone"></i>
                                                                            {{ config.phone }}
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <div class="menu-information-item menu-information-email">
                                                                    <a class="menu-information-text"
                                                                       href="mailto:{{ config.email }}">
                                                                        {{ config.email }} </a>
                                                                </div>
                                                                <!--noindex-->
                                                                <div class="intec-grid intec-grid-nowrap intec-grid-i-5 intec-grid-a-v-center"
                                                                     id="i-23-intec-universe-sale-basket-icons-buttons-GFiTWDJCPkLw"></div>
                                                                <!--/noindex--></div>
                                                            <div class="menu-social-wrap">
                                                                <div class="menu-social intec-grid intec-grid-wrap intec-grid-a-h-center intec-grid-a-v-center intec-grid-i-10">
                                                                    {% for name, url in config.terminals.items[currentTerminalId].social %}
                                                                        {% if url %}
                                                                            <div class="menu-social-item intec-grid-item-6">
                                                                                <a href="{{ url }}">
                                                                                    {% if name == "vk" %}
                                                                                        <svg fill="none" height="20" viewBox="0 0 35 20" width="35" xmlns="http://www.w3.org/2000/svg"> <path clip-rule="evenodd" d="M17.1416 19.75H19.2351C19.2351 19.75 19.8632 19.6453 20.1772 19.3312C20.4913 19.0172 20.4913 18.3891 20.4913 18.3891C20.4913 18.3891 20.4913 15.6675 21.7474 15.2488C23.0036 14.8301 24.6784 17.9704 26.3533 19.1219C27.6094 20.064 28.5515 19.8546 28.5515 19.8546L33.1574 19.75C33.1574 19.75 35.565 19.6453 34.4135 17.6564C34.3088 17.5517 33.7854 16.2956 30.9591 13.6786C28.0281 10.957 28.4468 11.4804 31.9012 6.76985C33.9948 3.94353 34.8322 2.26868 34.6228 1.43125C34.4135 0.698504 32.8433 0.90786 32.8433 0.90786H27.6094C27.6094 0.90786 27.1907 0.803182 26.9813 1.01254C26.6673 1.2219 26.5626 1.53593 26.5626 1.53593C26.5626 1.53593 25.7252 3.73417 24.6784 5.61838C22.3755 9.49148 21.4334 9.70084 21.1193 9.49148C20.2819 8.96809 20.4913 7.18856 20.4913 6.0371C20.4913 2.26868 21.1193 0.698503 19.3398 0.27979C18.8164 0.175112 18.3977 0.0704346 16.9322 0.0704346C15.048 0.0704346 13.4778 0.0704342 12.6404 0.489147C12.0123 0.803182 11.5936 1.43125 11.9077 1.43125C12.2217 1.43125 13.0591 1.64061 13.4778 2.164C13.8965 3.10611 13.8965 4.67628 13.8965 4.67628C13.8965 4.67628 14.2106 9.17745 13.1638 9.70084C12.431 10.1196 11.4889 9.28213 9.39538 5.72306C8.34859 3.94353 7.51116 1.84996 7.51116 1.84996C7.51116 1.84996 7.40649 1.43125 7.09245 1.2219C6.77842 1.01254 6.25502 0.90786 6.25502 0.90786H1.33514C1.33514 0.90786 0.602395 0.907861 0.28836 1.2219C0.0790033 1.53593 0.28836 2.05932 0.28836 2.05932C0.28836 2.05932 4.16146 11.0617 8.55795 15.6675C12.6404 20.064 17.1416 19.75 17.1416 19.75Z" fill="#50A1DB" fill-rule="evenodd"/> </svg>
                                                                                    {% elseif name ==  "facebook" %}
                                                                                        <svg fill="none" height="31" viewBox="0 0 31 31" width="31" xmlns="http://www.w3.org/2000/svg"> <path clip-rule="evenodd" d="M1.40013 3.68587C0.724609 4.9863 0.724609 6.69478 0.724609 10.1117V20.6037C0.724609 24.0206 0.724609 25.7291 1.40013 27.0295C1.96938 28.1254 2.8629 29.0189 3.95876 29.5881C5.25919 30.2637 6.96766 30.2637 10.3846 30.2637H20.8765C24.2935 30.2637 26.002 30.2637 27.3024 29.5881C28.3982 29.0189 29.2918 28.1254 29.861 27.0295C30.5365 25.7291 30.5365 24.0206 30.5365 20.6037V10.1117C30.5365 6.69478 30.5365 4.9863 29.861 3.68587C29.2918 2.59002 28.3982 1.69649 27.3024 1.12724C26.002 0.451721 24.2935 0.451721 20.8765 0.451721H10.3846C6.96767 0.451721 5.25919 0.451721 3.95876 1.12724C2.8629 1.69649 1.96938 2.59002 1.40013 3.68587ZM12.7382 19.1719V30.2635H17.082V19.1719H21.346L21.54 15.1784H17.082V12.2625C17.082 11.1614 17.3192 10.498 18.8001 10.498C20.1684 10.498 21.4223 10.5099 21.4223 10.5099L21.5192 6.78064C21.5192 6.78064 20.2897 6.62569 18.627 6.62569C14.5204 6.62569 12.7382 9.08714 12.7382 11.7675V15.1784H9.72113V19.1719H12.7382Z" fill="#0066FF" fill-rule="evenodd"/> </svg>
                                                                                    {% elseif name ==   "instagram" %}
                                                                                        <svg fill="none" height="31" viewBox="0 0 31 31" width="31" xmlns="http://www.w3.org/2000/svg"> <path d="M30.2221 11.0803C30.2221 9.65454 30.0919 8.35836 29.8315 6.93258C29.3108 3.95138 27.4882 2.00713 24.6242 0.97019C23.1922 0.451721 21.63 0.451721 20.0678 0.451721C17.0736 0.451721 14.2096 0.451721 11.2154 0.451721C9.78334 0.451721 8.48151 0.581338 7.04949 0.840573C4.05528 1.35904 2.10254 3.17368 1.06107 6.02526C0.540339 7.58066 0.540339 9.13607 0.410156 10.6915C0.410156 13.6727 0.410156 16.5242 0.410156 19.5054C0.410156 20.9312 0.540339 22.2274 0.800706 23.6532C1.19125 25.8567 2.3629 27.6713 4.31565 28.8379C5.87785 29.7452 7.44004 30.0044 9.26261 30.134C11.2154 30.134 13.2983 30.2637 15.251 30.2637C16.683 30.2637 17.9849 30.2637 19.4169 30.2637C20.8489 30.2637 22.1507 30.134 23.5827 29.8748C26.577 29.3563 28.5297 27.5417 29.5712 24.6901C30.0919 23.1347 30.0919 21.5793 30.2221 20.0239C30.2221 16.9131 30.2221 13.9319 30.2221 11.0803ZM15.3812 21.3201C11.9965 21.3201 9.26261 18.5981 9.26261 15.0985C9.26261 11.7284 11.9965 9.00645 15.5114 9.00645C18.8962 9.00645 21.63 11.7284 21.63 15.0985C21.4998 18.5981 18.766 21.3201 15.3812 21.3201ZM23.3224 9.3953C22.1507 9.3953 21.1093 8.35836 21.1093 7.19181C21.1093 6.02526 22.0206 4.98832 23.3224 4.98832C24.6242 4.98832 25.5355 5.89564 25.5355 7.19181C25.5355 8.48798 24.494 9.3953 23.3224 9.3953Z" fill="url(#paint0_linear)"/> <defs> <linearGradient gradientUnits="userSpaceOnUse" id="paint0_linear" x1="15.3161" x2="15.3161" y1="0.451721" y2="30.2637"> <stop stop-color="#EB00FF"/> <stop offset="1" stop-color="#DF0036"/> </linearGradient> </defs> </svg>
                                                                                    {% elseif name ==   "twitter" %}
                                                                                        <svg fill="none" height="31" viewBox="0 0 38 31" width="38" xmlns="http://www.w3.org/2000/svg"> <path d="M37.4098 3.98303C36.383 5.50318 35.1232 6.79903 33.6306 7.87059C33.6453 8.15798 33.6527 8.4828 33.6527 8.84505C33.6527 10.8578 33.3579 12.873 32.7682 14.8906C32.1786 16.9083 31.2779 18.8395 30.0661 20.6844C28.8543 22.5292 27.4109 24.1636 25.7358 25.5875C24.0607 27.0114 22.0471 28.1467 19.6951 28.9935C17.3431 29.8403 14.8224 30.2637 12.133 30.2637C7.9357 30.2637 4.0704 29.1358 0.537109 26.8802C1.16423 26.9497 1.76569 26.9844 2.34149 26.9844C5.84798 26.9844 8.97985 25.9094 11.7371 23.7594C10.1022 23.7296 8.63796 23.2287 7.34448 22.2567C6.05101 21.2846 5.16087 20.0426 4.67407 18.5305C5.15524 18.6217 5.63014 18.6674 6.09877 18.6674C6.77334 18.6674 7.4371 18.5798 8.09005 18.4047C6.34528 18.0569 4.89784 17.1919 3.74774 15.8098C2.59768 14.4278 2.02265 12.8326 2.02265 11.0243V10.9311C3.0936 11.5213 4.23593 11.8353 5.44965 11.873C4.41606 11.1871 3.59658 10.2928 2.99121 9.18992C2.3858 8.08706 2.08309 6.89357 2.08309 5.60945C2.08309 4.25513 2.42405 2.99401 3.10599 1.82608C5.00339 4.1436 7.3025 5.99583 10.0033 7.38278C12.7042 8.76975 15.6016 9.54003 18.6958 9.69362C18.5638 9.14621 18.4977 8.57497 18.4975 7.97988C18.4975 5.90207 19.2362 4.12793 20.7137 2.65744C22.1913 1.18696 23.9738 0.451721 26.0614 0.451721C28.2471 0.451721 30.088 1.24383 31.5844 2.82806C33.294 2.491 34.8948 1.88136 36.3867 0.999127C35.8119 2.79957 34.7043 4.18848 33.064 5.16588C34.5716 4.98756 36.0202 4.59328 37.4097 3.98303H37.4098Z" fill="#12ABDB"/> </svg>
                                                                                    {% endif %}
                                                                                </a>
                                                                            </div>
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="widget-logotype-wrap intec-grid-item intec-grid-item-shrink-1">
                        <a class="widget-item widget-logotype intec-image" href="/">
                            <div class="intec-aligner"></div>
                            <div class="logo-wrapper logo-wrapper-mobile-nav">
                                <img src="{{ config.terminals.items[currentTerminalId].logo }}" alt="{{ config.terminals.items[currentTerminalId].site_title }}" title="{{ config.terminals.items[currentTerminalId].site_title }}">
                            </div>
                        </a>
                    </div>
                    <div class="widget-search-wrap intec-grid-item-auto">
                        <div class="widget-item widget-search">
                            {% include '_partials/basket_overlay_content_mobile.twig' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
