<div class="container-19" style="margin-bottom: 25px">
    <div class="widget-web-form-2 intec-cl-background">
        <div class="intec-content widget-web-form-2-background intec-cl-background">
            <div class="intec-content-wrapper widget-web-form-2-background-wrapper">
                <div class="widget-web-form-2-section widget-web-form-2-title">
                    <div class="intec-aligner"></div>
                    <div class="widget-web-form-2-image"></div>
                    <div class="widget-web-form-2-text-wrap">
                        <div class="widget-web-form-2-text">
                            Сейчас мы закрыты
                        </div>
                    </div>
                </div>
                <div class="widget-web-form-2-section widget-web-form-2-description">
                    <div class="intec-aligner"></div>
                    <div class="widget-web-form-2-text">
                        На текущий момент заказы не обрабатываются. Если вы сделаете заказ сейчас он будет обработан утром следующего дня. Дополнительные детали заказа вы можете указать в комментарии.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>